[2019-01-20 19:00] RJP43 opened #1 "Let's Discuss "Storm Clouds on the Horizon""
Each student should write in the discussion thread below 2 discussion questions after reading:

In place of writing a second discussion question, students are permitted to respond in 3-4 sentences to another student's question. If you opt out of writing a second discussion question, you must mention the person whose question you are responding to (using the `@` symbol followed by their GitHub hand

[2019-01-20 19:07] RJP43 opened #2 "Let's Discuss Project Assignments"
The final projects for this class will incorporate a variety of tasks. All of the tasks utilize skills we built together during the month of February. While certain groups will have slightly more technical aspects of their final project than other groups, ALL GROUPS will be responsible for communicating via our class Issues Board - following out [best practices](https://github.com/RJP43/LiliElbe_E

[2019-02-04 21:39] RJP43 opened #3 "~ Declaration of Commitment ~"
Dr. Caughie and the Lili Elbe Digital Archive project-team wish to express our deepest gratitude for the undergraduate engaged learners participating in the ENGL 283.06E, Transgender in Literature, class. Their contributions to the archive are truly invaluable. In signing this “Declaration of Commitment,” the undersigned engaged learners commit to the following:

- not sharing archival materials o

[2019-02-04 21:58] kejcat commented on #3
I, Kristin Jacobsen, commit to the above declaration.

[2019-02-05 21:11] joaquindavalosponce commented on #3
I, Joaquin Davalos, commit to the above declaration

[2019-02-05 21:11] tinatiehen commented on #3
I, Christina Tiehen, commit to the above declaration.

[2019-02-05 21:11] kschoen3 commented on #3
I, Katherine Schoen, commit to the above declaration.

[2019-02-05 21:11] kklimek1 commented on #3
I, Katarzyna Klimek, commit to the above declaration.

[2019-02-05 21:11] bossa12 commented on #3
I, Ran Zhang, commit to the above declaration.

[2019-02-05 21:11] elenipamboukis commented on #3
I, Eleni Pamboukis, commit to the above declaration.

[2019-02-05 21:11] dpedz commented on #3
I, Danica Pedregosa, commit to the above declaration.

[2019-02-05 21:11] schola0208 commented on #3
I, Scholastique Iradukunda commit to the above declaration

[2019-02-05 21:11] Dadelinee commented on #3
I, Adeline Azungue, commit to the above declaration.

[2019-02-05 21:11] wravindran commented on #3
I, Wagme Ravindran, commit to the above declaration

[2019-02-05 21:11] Katiegriggs24 commented on #3
I, Katie Griggs, commit to the above declaration.

[2019-02-05 21:11] jsteele1 commented on #3
I, Jade Steele, commit to the above declaration.

[2019-02-05 21:11] Samantha9899 commented on #3
I, Samantha Riker, commit to the above declaration.

[2019-02-05 21:12] anais-turiello commented on #3
I, Anais Turiello, commit to the above declaration

[2019-02-05 21:12] nroyce commented on #3
I, Nichole Royce, commit to the above declaration.

[2019-02-05 21:12] ElleBromer commented on #3
I, Elle Bromer, commit to the above declaration.

On Feb 5, 2019, at 3:11 PM, tinatiehen <notifications@github.com<mailto:notifications@github.com>> wrote:

I, Christina Tiehen, commit to the above declaration.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/RJP43/LiliElbe_EngagedLearners/issues/3#issuecomment-

[2019-02-05 21:12] amccann2 commented on #3
I, Audrey McCann, commit to the above declaration.

[2019-02-05 21:12] alicapati commented on #3
I, Aliana Capati, commit to the above declaration.

[2019-02-05 21:12] skarrow commented on #3
i, Sophia Karrow, commit to the above declaration

[2019-02-05 21:15] JackieAlfarah commented on #3
I, Jackie Alfarah, commit to the above declaration.

[2019-02-05 21:46] bcristiana commented on #3
I, Cristiana Bertola, commit to the above declaration.

[2019-02-05 21:50] RJP43 commented on #3
Thanks for committing!  💻🎉

Hosting discussions on GitHub means that your responses can be "marked up" using [GitHub's markdown syntax](https://guides.github.com/features/mastering-markdown/#syntax). In addition to text styling (like bold, italics, and offsetting quoted text) made available via markdown, you are also able to attach files (images are particularly welcome) and insert emojis in your

[2019-02-05 21:51] JackieAlfarah commented on #3
Thank you ☺️

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rebecca Parker <notifications@github.com>
Sent: Tuesday, February 5, 2019 3:50:11 PM
To: RJP43/LiliElbe_EngagedLearners
Cc: Alfarah, Jackie; Comment
Subject: Re: [RJP43/LiliElbe_EngagedLearners] ~ Declaration of Commitment ~ (#3)

thanks for committing!

Here is a complete list of possible emojis<https:

[2019-02-07 11:25] RJP43 commented on #3
**_While it may seem more convenient to respond to issue-board postings via email, when you are notified of new repo. updates, we ask that you select the option to view on GitHub and reply on the interface instead of within your email._**

Our reason for this request is because replies via email copy the text of the email in your response on the issues-board. This adds unnecessary bloat to our dis

[2019-02-07 20:25] BMiller10 commented on #3
I, Bennett Miller, commit to the above declaration.

[2019-02-07 20:27] Tatjanawj commented on #3
I, Tatjana Willms-Jones, commit to the above declaration.

[2019-02-07 20:34] ekupchella commented on #3
I, Elizabeth Kupchella, commit to the above declaration.

[2019-02-07 21:47] ElleBromer commented on #3
I, Elle Bromer, commit to the above declaration.

[2019-02-07 22:56] amandallopez commented on #3
I, Amanda Lopez, commit to the above declaration.

[2019-02-14 17:45] RJP43 opened #9 "German Letter 2"
# Source Materials:
[German_letter2 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/German_archive/German_letter2)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-14 17:51] RJP43 commented on #9
Information provided before class by @ProfPLC and Emily :

**Transcriber/Translator:** Tatjana
**Translator Consultant:** Sabine  (reviewed in August, 2018)
**Where the physical letter exists:**  Ernst Harthern Archives, Arbetarrörelsens Arkiv och Bibliotek (Swedish Labour Movement’s Archives and Library), Huddinge, Sweden
**Photographed by:** Pamela Caughie, August 2017 _(camera settings attached

[2019-02-15 00:57] RJP43 opened #10 "German Letter 1"
# Source Materials:
[German_letter1 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/German_archive/German_letter1)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 00:58] RJP43 opened #11 "German Letter 3"
# Source Materials:
[German_letter3 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/German_archive/German_letter3)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:00] RJP43 opened #12 "Lili's Foreword"
# Source Materials:
[LiliForeword.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/German_archive/LiliForward/LiliForeword.xml)
[Foreword Transcription](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/German_archive/LiliForward/Foreword_transcription.docx)
[Foreword Images](https://github.com/RJP43/LiliElbe

[2019-02-15 01:03] RJP43 opened #13 "Danish Letter 19211922"
# Source Materials:
[19211922 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19211922)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:05] RJP43 opened #14 "Danish Letter 19241200"
# Source Materials:
[19241200 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19241200)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:08] RJP43 opened #15 "Danish Letter 19310122"
# Source Materials:
[19310122 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310122)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:11] RJP43 opened #16 "Danish Letter 19310131"
# Source Materials:
[19310131 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310131)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:12] RJP43 opened #17 "Danish Letter 19310616"
# Source Materials:
[19310616 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310616)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:14] RJP43 opened #18 "Danish Letter 19310724"
# Source Materials:
[19310724 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310724)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:15] RJP43 opened #19 "Danish Letter 19310807"
# Source Materials:
[19310807 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310807)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:16] RJP43 opened #20 "Danish Letter 19310818"
# Source Materials:
[19310818 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310818)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 01:17] RJP43 opened #21 "Danish Letter 19310615"
# Source Materials:
[19310615 Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310615)
[MIWschema.rng](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/WIKIandREADMEmaterials/MIWschema.rng)

[2019-02-15 02:33] RJP43 commented on #9
@katebarrettmurphy please be in contact with @ProfPLC and I so we can catch you up.

[2019-02-15 19:39] nroyce commented on #15
Hey @Katiegriggs24, let me know how you want to complete this. :)

[2019-02-17 14:31] RJP43 commented on #21
@elenipamboukis in response to your email and as the assignment states you will download the schema from the link above **and** the XML file from the above linked documents folder. You should be able to tell which file is the XML by the file extension. The images and word doc file are just there for your reference as you try to navigate the XML and determine how the project has specialized certain

[2019-02-18 02:59] Katiegriggs24 commented on #15
Hey @nroyce you should probably tell me where you want to start because I'm not really sure what I'm doing lol

[2019-02-18 19:15] nroyce commented on #15
@Katiegriggs24 We need to figure this out.  I think I can figure out how to do the assignment but I don't know how to break it up between the two of us.  I won't be able to meet up today but I could meet up sometime tomorrow morning.  My first class for the day is at 1pm.  Do you have any availability?  Feel free to text me to meet up. 630-835-1335.

[2019-02-18 21:09] dpedz commented on #17
@ElleBromer Hey! So I just figured out the schema and what errors we need to correct. There's 2 total that showed up so I'll cover the 1st one and you'll cover the 2nd one (towards the bottom of document)?

[2019-02-18 22:59] RJP43 commented on #17
@dpedz @ElleBromer You do not need to correct the errors you see firing. You simply need to give an explanation of what the errors are and any reasoning why you think the errors are occurring. @dpedz 🎉 well done so far!

[2019-02-18 23:06] RJP43 commented on #15
@nroyce @Katiegriggs24 one place you can each start on your own is the final part of the assignment (number 5 under requirements) where you each will individually report on two TEI elements and the constraints the project has made on those elements. Then @nroyce perhaps identify the parts of the assignment you are most comfortable with completing or handing off to @Katiegriggs24  either uploading/

[2019-02-18 23:31] alicapati commented on #21
@elenipamboukis @skarrow After associating the MIW schema with the Danish letter, I used the validation shortcut to quickly find where the issue in the text was. It highlighted the element `<persName key="wegnerS">`. I decided to use the search function to see where else Wegener was used in the key. I noticed that this element was different from the others because the person coding the text had mi

[2019-02-18 23:57] ElleBromer commented on #17
Alright!  I’ll still cover number 2 if you cover number one!

[2019-02-19 00:09] elenipamboukis commented on #21
2 different elements used in the XML-
1.) Element: `<title>` is very important because it confirms what the rest of the letter is about. For example, the title of #21 is "Letter to Ernst Ludwig Harthern." This confirms who the letter is to, and the body of the letter can explain why.
2.) Element: `<date when="2017-11-20">20 November 2017</date>` Dates are extremely important when coding Man Into W

[2019-02-19 00:22] elenipamboukis commented on #21
@skarrow @alicapati
List of people/ tags in the XML:
- `<persName key="harthernE">Ernst Ludwig Harthern Jacobsen</persName>`
- `<persName ref="kj">Kristin Jacobsen</persName>`
- `<persName ref="mb">Maiken Boysen</persName>`
- `<persName ref="mo">Marianne</persName>`
- `<persName ref="tb">Taylor Brown</persName>`
- `<persName key="lili">Lili</persName>`
- `<persName key="wegenerG">Gerda</persName>`

[2019-02-19 01:14] amandallopez commented on #16
Hey @Dadelinee! I have just began analyzing the schema, but I was just wondering how you wanted to split up the work, and/or if there was anything you were uncertain about/struggling with. Thanks, let me know!

[2019-02-19 01:35] Samantha9899 commented on #10
People mentioned: Herta Keller
   Written on the image: Lili Elbe
Places mentioned: none

[2019-02-19 01:43] Samantha9899 commented on #10
Two elements in the .xml file are "persName" around Herta Keller, this identifies that they are a person and in this case the person who wrote the letter and the second element is "opener" which allows you to see the date in which the author wrote this letter.

[2019-02-19 03:02] Dadelinee commented on #16
Hey @amandallopez sorry! I was in rehearsal just as you sent this. I downloaded the .xml file and the schema. Are we supposed to locate the error in the schema and then upload the file right back here stating the error?

[2019-02-19 03:15] RJP43 commented on #16
@Dadelinee @amandallopez huzzah :tada: well done downloading both files. Once you get the schema associated you will need to reupload the XML to where you downloaded it from. Additionally, you will need to write up a short report on any errors you see in the XML file once the schema is associated. You do not need to correct the errors just report on them here.

[2019-02-19 03:20] Dadelinee commented on #16
@RJP43 I'm looking in oxygen and for errors in the schema it lists a whole bunch. How do I know which ones to focus on? There's definitely over 100 or so. I can't tell if I associated the schema right either so I'm not sure if it's a problem on my side. Every time I go to assign the schema again through the folder just to make sure, the file is not placed in the desktop folder in oxygen yet when I

[2019-02-19 03:37] BMiller10 commented on #10
The error present in the schema reads as such: "Non-whitespace characters are not allowed in schema elements other than 'xs:appinfo' and 'xs:documentation'. Saw '(\p{L}|\p{N}|\p{P}|\p{S})+'." Clicking the link leads to that string. Deleting the string of text did not fix the schema, however.

[2019-02-19 03:41] BMiller10 commented on #10
For places present in the letter, the words "Kulmer Strasse" (Kulmer street) have been crossed and written over with another street name. The name "Aussig" is printed on the letter, with Aussig being a former German, now Czech, town in southern Germany

[2019-02-19 03:42] RJP43 commented on #16
@Dadelinee I am not exactly sure what is happening when you associate the schema that you are seeing so many errors. We will be going over in class how to associate the schema correctly. When I run a validation check on your XML by associating the schema this is what I see:
![Danish letter 19310131 validation errors](https://user-images.githubusercontent.com/8645521/52988644-ad440200-33c5-11e9-83a

[2019-02-19 03:56] BMiller10 commented on #10
One element present in the .xml file is the distinction of rend="underline", obviously important as to put emphasis on certain words in a sentence "(which I would like you to r͟e͟t͟u͟r͟n͟ as it is the only one I own)" as the author intended. The postscript element is important for a similar reason, which, while not actually present in the letter, is important for distinguishing the main body from

[2019-02-19 04:15] dpedz commented on #17
@ElleBromer sounds good!
@RJP43 Thank you for the clarification! I also had a question about the instructions. It says "Be sure to list on your team's issue the key IDs of each mentioned person and place and a count of the times each person and place are mentioned. If a person/place doesn't have a key ID in our spreadsheet or in the XML please indicate this in your list of people and places.". I w

[2019-02-19 04:29] Dadelinee commented on #16
@RJP43 I have both the schema and the .xml document save in the same folder on my computer but I can't seem to get the schema working still

[2019-02-19 04:31] kschoen3 commented on #19
Two validation issues show up on this document when checking the text. The first is that the text contains special characters that require editing. The second issue is that attribute name "data-
transient" associated with an element type "meta" must be followed by the ' = ' character.

[2019-02-19 04:32] RJP43 commented on #17
@dpedz Thanks for posting your question here on the issues board. Well done! 🎉 Also, I am glad that clarification with regards to the schema helped.

For step 4 of the assignment I went in and changed the language of the exercise to clarify instructions for the problem spots you pointed out. Thank you for your helpful feedback. The assignment now reads:

I hope this helps, but if you need further

[2019-02-19 04:41] RJP43 commented on #19
@kschoen3 Whoops, I think something has gone wonky with your schema association. We can work out tomorrow in class what went wrong or @amccann2 might try associating the schema and seeing what she can find. When I associate the project schema to your XML this is what I see:
![Danish Letter 19310807 validation errors](https://user-images.githubusercontent.com/8645521/52990454-dcf70800-33cd-11e9-8dc

[2019-02-19 05:11] kklimek1 commented on #18
After I added the schema to the XML file and validated it. (and then reuploaded the file into the "Source Materials". There were two validation errors involving the element for two people mentioned in the text, both elements were "persName" elements.

`<persName key="?">Hr. Oberartz</persName>`

`<persName key="?">The chief physician</persName>`
While the element itself was fine, the issue seemed

[2019-02-19 05:23] kklimek1 commented on #18
So I found 2 places in the XML file, and I found that the last two people in your comment had Keys in the spreadsheet.

Hr. Oberatz, key = "gebhard", mentioned: 1
The Chief Physician, key = "gebhard", mentioned: 1
Dresden,  key="dresden", mentioned: 2
Haven, key="womensClinicGarden", mentioned: 2

[2019-02-19 05:26] Dadelinee commented on #16
` <placeName key="lindevangen">Lindevangen</placeName>`key=lindevangen, mentioned 1 times
`<persName key="magnusE">Erwin Magnus</persName>` key=magnusE, mentioned 5 times
`<persName key="?">Hasselbalch</persName>`, no ID, mentioned 8 times
 `<persName key="louLou">` key="louLou", mentioned 2 times
`<persName key="sparreAn">Bé</persName>`Mentioned 4 times, key=sparreAn
`<persName key="kreutz">Werne

[2019-02-19 05:52] joaquindavalosponce opened #22 "Problem 4"
Key: garlandM - Name: Maria Garland - No ID - Appears: 3 times
Key: Lili - Name: Lili Ilse Elvenes - ID lili - Appears: 3 times
Key: (ref) kj - Name: Kristin Jacobsen NO ID - Appears: 1 time
Key: (ref) mb - Name: Maiken Boysen NO ID - Appears: 1 time
Key: (ref) tnm - Name: Tyler Monaghan NO ID - Appears: 1 time
Key: NO KEY (?) - Name: Hr. Oberartz - NO ID - Appears: 1 time
Key: NO KEY (?) - Name:

[2019-02-19 06:11] RJP43 commented on #22
@joaquindavalosponce please move your response to your team's issue - https://github.com/RJP43/LiliElbe_EngagedLearners/issues/18.

Well done with this task otherwise! :tada:

[2019-02-19 06:11] #22 closed, assigned to nobody

[2019-02-19 06:24] bcristiana commented on #14
Persons: Far, key="thomsenTC", mentioned: 1; Einar, key="wegenerE", mentioned: 2; Lili, key="Lili", mentioned: 1; (hans egon) mor, key="mother", mentioned= 1. Places: Paris, key="Paris", mentioned: 1; Phistersvej, key="phistersSt", mentioned: 1.

[2019-02-19 06:37] Katiegriggs24 commented on #15
4.**People**
Poul Knudsen, key="knudsenP", mentioned:1
Lili Ilse Elevens key="lili", mentioned:7
Kristen Jacobsen ref="kj", mentioned:1
Maiken Boysen ref="mb", mentioned:1
Tyler Monaghan ref="tnm", mentioned:1
Vibeke key="vibeke", mentioned:4
Prof./Dr. key="warnekros", mentioned:2
Mr. Ervin Magnus key="magnusE", mentioned:2
Andreas key="sparreAn", mentioned:4
Werner von Kreutz key="kreutz", mentio

[2019-02-19 06:41] ekupchella commented on #20
One thing Tina and I noticed about the schema validation process is that not only did it fire up, but it fired up on the element <text> because where it was, it wasn't well formatted. We talked about it, and because this is sort of a new thing for all of us, we think that this particular error existed because it was an issue with the document not being "well formed". We don't know a ton about enco

[2019-02-19 06:45] bcristiana commented on #14
Revised comment:
Persons: Far, key="thomsenTC", mentioned: 1; Father, key= "thomsenTC", mentioned: 1; Einar, key="wegenerE", mentioned: 4; Lili, key="lili", mentioned: 2; (hans egon) mor, key="mother", mentioned= 1, (his own) mother, key= "mother", mentioned: 1. Places: Paris, key="paris", mentioned: 2; Phistersvej, key="phistersSt", mentioned: 1, Phisers Street, key="phistersSt", mentioned: 1.

[2019-02-19 06:50] ekupchella commented on #20
My Two Reports:

1. One thing that caught my eye was definitely publicationStmt. I worry that, because the stakes are high as this is an academic project, that something could go wrong and we could misattribute something, but Dr. Caughie has always stressed the importance of correctly sourcing and having sources to back up statements, so knowing how important that is in this work made that particu

[2019-02-19 07:14] Tatjanawj commented on #12
There is only one error that is highlighted in the XML file. The key used for "Grete" is spelled incorrectly. Instead of "wegnerG" it should be "wegenerG".

[2019-02-19 11:53] skarrow commented on #21
Key People in the text according to the XML mark up are
- wegnerG (Gerda)
- Lili (Lili)
- Mother (mor) -- according to the key should be m'or in the text 16
- Father (Far) -- should be written fa'r in the text
- wegnerS (doctor) Sigurd Wegner Thomsen
- wegnerE (einar wegner)
*All the other names are attributed correctetly.

I was unsure of how to run the short cut in order to find the error... so

[2019-02-19 15:08] ElleBromer commented on #17
The major problem that I saw when looking at my portion of the XML is that neither Johannes or Ulla Poulsen have matching IDs which means that they cannot be properly addressed in the document.  Could you possibly handle the re-uploading of the XML if I handle the list?

[2019-02-19 15:10] bcristiana commented on #14
One omission in the prosopography ID list is Phistersvej / Phisters Street, for which a key hasn't yet been created, though I noticed this place included within the MIWschema.rng, as <value>phistersStreet</value>.

The comment in the text body, at the end of the Danish text, asks if using the proper noun key for the common noun "far" / "Father" is appropriate, a question that I asked myself too. I

[2019-02-19 15:20] ElleBromer commented on #17
Maria Garland: 1 key=garlandM
Lili Elvenes: 2 key=lili
Kristin Jacobson: 1 key=kj
Maiken Boysen: 1 key=mb
Tyler Monaghan: 1 key=tnm
Prof. Warnekros: 1 key=warnekros
Paris: 2 key=paris
Johannes: 1 no key
Ulla Poulsen: 1 no key

[2019-02-19 15:27] ElleBromer commented on #17
The elements that I found as important were the <note type= > and the <p style= > which both have similar significance.  With the note type it allows notes to further be divided up and addressed by people in their relative fields.  If it is a note about XML than an XML specialist can come correct something, while a translation note can be looked over by someone who is good at translation.  The sty

[2019-02-19 16:58] dpedz commented on #17
Two elements that I found were important are the `<div type= >` and ``.

The `<div type=>` divides the document into smaller sections within a larger structural division and allows the computer to recognize different sections in a body of text instead of one large body of text.

The encoder comment: ``, allows encoders to comment on sections of the document of any additions, changes, etc to the do

[2019-02-19 17:02] Katiegriggs24 commented on #15
5. Two different elements that the Danish letter had was  `<p>` and `<resp>`  . The MIW project used the element  `<p>`  to make further divisions of the text specifying information about the text. This meant that the project used  `<p>` in different ways like `<p>`Information about the source`</p>` or `<p>`Paragraph Information/`<p>`.The element `<resp>` defines the task completed, update,when av

[2019-02-19 17:08] dpedz commented on #17
@ElleBromer done!

[2019-02-19 17:15] Katiegriggs24 commented on #15
3. After completing steps one and two, for number three we couldn't find any errors in our document. We also did't make any changes to the document to correct any errors.

[2019-02-19 17:21] nroyce commented on #15
5. The project uses `<div>`, which is used to identify textual subdivisions in the un-numbered style. This key attribute-value contains unique attribute-values such as p for paragraphs.

The project also uses `<fileDesc>` as a key attribute-value which contains unique attribute values within it such as `<titleStmt>`, `<publicationStmt>`, and `<sourceDesc>` which all provide information about the a

[2019-02-19 17:46] schola0208 commented on #14
@bcristiana , is 19241200UnknownUnknown.xml the file you have already worked on and uploaded? I am a little confused about the assignment, forgive my obvious question. I just cant seem to find the original file

[2019-02-19 18:30] joaquindavalosponce commented on #18
Key: garlandM - Name: Maria Garland - No ID - Appears: 3 times
Key: Lili - Name: Lili Ilse Elvenes - ID lili - Appears: 3 times
Key: (ref) kj - Name: Kristin Jacobsen NO ID - Appears: 1 time
Key: (ref) mb - Name: Maiken Boysen NO ID - Appears: 1 time
Key: (ref) tnm - Name: Tyler Monaghan NO ID - Appears: 1 time
Key: NO KEY (?) - Name: Hr. Oberartz - NO ID - Appears: 1 time
Key: NO KEY (?) - Name:

[2019-02-19 18:40] joaquindavalosponce commented on #18
Problem 5

There is a difference between persName Key and persName Ref.
persName Key is used when we are referring to a character inside the book, for example Lili (although Lili is a real character in real life, we are working now as if she is just a character of the book).
persName ref is used when are referring to a real person who is in the team (an editor, a translator, etc).

"p" is used to

[2019-02-19 18:52] tinatiehen commented on #20
**List of unique people:**
1. Maria Garland, key = "garlandM", mentioned: 1
2. Lili Isle Elvenes, key = "lili", mentioned: 3
3. Kristin Jacobsen, no ID, mentioned: 1
4. Maiken Boysen, no ID, mentioned: 1
5. Tyler Monaghan, no ID, mentioned: 1
6. Professoren (the professor), key = "warnekros", mentioned: 2
7. Herr Oberartz (the head doctor), key = "kreutz?", mentioned: 2

**List of unique places:**

[2019-02-19 19:15] kklimek1 commented on #18
Task 5:

"Div" marks various divisions in the text. "Div" has been constrained by adding specific key attribute and attribute values, like "type = opener". It specifies whether the type of "div" is a header, salutation, body, etc.  The "div" element separates the documents from each other, as well as the separate paragraphs. This project uses the key attribute-value pair to link the separate parag

[2019-02-19 19:27] amccann2 commented on #19
Distinct People & Places
< title>Letter to <persName key="garlandM">Maria Garland</persName>
< persName key="lili">Lili Ilse Elvenes</persName> 3
< persName key="?">the professor</persName> 2
< persName ref="mb">Maiken Boysen</persName> 1
< persName ref="kj">Kristin Jacobsen</persName> 1
< persName ref="tnm">Tyler Monaghan</persName> 1

some are distinct as first and last name specific and others

[2019-02-19 19:48] amccann2 commented on #19
TEI Elements

2 elements featured in these XML elements are the
< /div>
< /div>
AND
<div type="original"> (and other similar pieces of markup)

Translation TEI markup. This is used to distinguish parts of translated letters, or pieces of translated texts to differentiate where they begin and end, because we are trying to organize the languages of multiple different editions.
there are also publica

[2019-02-19 19:50] tinatiehen commented on #20
My Two Reports:

1. The first thing that stands out to me is the respStmt. Our project constrains this element by linking two critical elements: resp and persName, which are subsequently unique in themselves given circumstantial information. This series of information, as suggested by TEI guidelines, helps to identify the name and affiliation of an editor. In the case of our project, this constrai

[2019-02-19 21:05] RJP43 commented on #9
@ProfPLC @katebarrettmurphy After associating the schema there is one error. The error indicates a missing key attribute value for Herta Keller in the salutation Dear Friend.  `<persName key="?">Freundin</persName>`. I have uploaded the schema associated XML.

[2019-02-19 21:06] schola0208 commented on #14
@bcristiana , after associating the schema there is one error in two places in the file. value of attribute "key" is invalid. . This is the element "key="phistersSt""

[2019-02-19 21:14] RJP43 commented on #9
- `<persName key="kellerH">Herta Keller</persName>` 2

- `<persName key="lili">Lili</persName>` 1

[2019-02-19 21:16] tinatiehen commented on #20
Elizabeth accurately highlighted our concerns when implementing the MIW schema into our Danish Letter. To elaborate, the specific error we encountered was present in both the English and German versions, so 2 errors in total. The error was the uncertainty with this element: **persName key="kreutz?">Herr Oberartz</persName** where the attribute value has a question mark. The error in English was th

[2019-02-19 21:18] kschoen3 commented on #19
we found no place names

[2019-02-19 21:18] tinatiehen commented on #20
I accidentally wrote the XML errors with single quotations as markdown.... the errors were actually:

- <persName key="kreutz?">Herr Oberartz</persName>
- <persName key="kruetz?">the head doctor</persName>

[2019-02-19 21:19] schola0208 commented on #14
`<persName ref="kj">Kristin Jacobsen</persName>` 2
`<persName ref="mb">Maiken Boysen</persName>` 2
`<author> Unknown, probably <persName key="wegenerS">Sigurd Wegener`2
`<persName ref="tnm">Tyler Monaghan</persName>`2

[2019-02-19 21:20] JackieAlfarah commented on #13
People:
<persName key="wegenerS">Sigurd Wegener Thomsen</persName> key="wegenerS"
<persName key="lili">Lili Ilse Elvenes</persName> key="lili"
 <persName ref="kj">Kristin Jacobsen</persName> ref="kj"
  <persName ref="tnm">Tyler Monaghan</persName> ref="tnm"
<persName key="thomsenTC">Far</persName> key="thomsenTC"
<persName key="gottliebMrs">fru Gottlieb</persName> key="gottliebMrs"

Places:
<place

[2019-02-19 21:23] Samantha9899 commented on #10
After associating the schema the error found was a missing date for the translation of the letter.
` <resp>Translation on <date when=></date> by</resp>`

The people mentioned in the xml file:
`<persName ref="zo">Zanabe Othman</persName>`
`<persName key="?">Herta Keller</persName>`
`<persName key="hoyerNiels">Niels Hoyer</persName>`
`<persName key="lili">Mrs. Lili Elvenes</persName>`
`<persName key

[2019-02-19 21:27] bcristiana commented on #14
@schola0208 , hi, this is the first contact attempt on issue board.

[2019-02-19 21:28] ProfPLC commented on #9
I found a placeName that isn't marked as such: `<p>Dresden`. I also found two persNames, only one with an ID: 'your dear husband, <persName>Lilimoe</persName> and his brother.'

[2019-02-19 21:30] kschoen3 commented on #19
`<p style="valediction">`
This is a paragraph attribute. It indicates the closing of a letter.

`<p style="salutation">`

Similar to the first one, this element indicates part of a letter. It indicates the greeting or opening of the letter. Both elements divide the text and specify information within the the paragraph.

[2019-02-19 21:34] JackieAlfarah commented on #13
I have uploaded the schematized XML

[2019-02-19 21:35] bossa12 commented on #12
'<persName key="sparreAn">Andreas Sparre</persName>' 7
'<persName key="wegenerE">Einar Wegener</persName>' 2
' <persName key="lili">Lili Elbe</persName>' 2
' <persName key="kreutz">Professor Kreutz</persName>'6

[2019-02-19 21:37] amccann2 commented on #19
When we went to associate the schema, @kschoen3 and myself (@amccann2) both received an error. We retried to schema association process with @RJP43 and she said she was not sure what this issue was. I am attaching a screenshot file that shows our schema line as well as the error that we encountered

<img width="1431" alt="schemaissue_schoen mccann" src="https://user-images.githubusercontent.com/47

[2019-02-19 21:38] alicapati commented on #21
One element I noticed is is `<note type="translator">`. This element is essential, especially for this project, because it allows people to understand what the document is trying to say. For people who do not know how to read German, Danish, or English, they will be able to follow along with what the author of the document is saying. If these documents were published, people who were navigating th

[2019-02-19 21:40] RJP43 commented on #1
Please post by **1 pm on Thursday 2/21**.

@profPLC @zothman @tatjanawj @JackieAlfarah @Dadelinee @katebarrettmurphy @bcristiana @ElleBromer @alicapati @joaquindavalosponce @Katiegriggs24 @schola0208 @skarrow @kklimek1 @ekupchella @amandallopez @amccann2 @BMiller10 @elenipamboukis @dpedz @wravindran @Samantha9899 @nroyce @kschoen3 @jsteele1 @tinatiehen @anais-turiello @Bossa12 @kejcat

[2019-02-19 21:40] nroyce commented on #15
4.

`<persName key="knudsenP">Poul Knudsen</persName>` Key Name Mentioned: 6
`<persName key="lili">Lili Ilse Elvenes</persName>` Key Name Mentioned: 9
`<persName ref="kj">Kristin Jacobsen</persName>` Key Name Mentioned: 1
`<persName ref="mb">Maiken Boysen</persName>` Key Name Mentioned: 1
`<persName ref="tnm">Tyler Monaghan</persName>` Key Name Mentioned: 1
`<persName key="vibeke">Vibeke</persName

[2019-02-19 21:41] amandallopez commented on #16
@Dadelinee After associating the schema there is one error. The value of attribute "key" is missing for Hr. Hasselbalch. `<persName key="?">Hr. Hasselbalch</persName>` The schema associated version of the XML document has been uploaded.

[2019-02-19 21:41] anais-turiello commented on #11
@jsteele1 I will do part five of the exercise since you are doing part four.

[2019-02-19 21:56] Samantha9899 commented on #10
One of the elements I looked at was `<div type="opener">` this element differentiates the opening from the rest of the letter. It separates the heading which includes the date of which the letter was written. The second element I looked at was `<div type="letterOG">` which allows you to distinguish that what we are looking at is information from a letter and not a book or anything else.

[2019-02-19 22:25] alicapati commented on #21
**People mentioned:**

- Lili Elbe,`<persName key="lili">Lili</persName>`, mentioned: 46 times
- Bror, `<persName key="brotherSing">bror</persName>`, mentioned: 2 times

**Places mentioned:**

- Denmark, `<placeName, key="denmark">Danmark</placeName>`, mentioned: 1 time
- Copenhagen, `<placeName key="copenhagen">København</placeName>`, mentioned: 2 times

[2019-02-20 14:40] JackieAlfarah commented on #13
An error I see firing is the value of the attribute for "key =" is a question mark when it should be equal to a place such as academy or germany.

[2019-02-20 15:05] JackieAlfarah commented on #1
**Question 1**
One question I have for this reading is knowing that technology is the the future and has become more advanced over the years, do you think the focus of Feminist scholars should remain on digital archives or should it still remain on the preservation of works of the authors? Will books still be in existence, lets say, 15 years from now?

**Question 2**

I think the main question ask

[2019-02-20 19:32] Dadelinee commented on #16
The `</p>` element is used to differentiate when a paragraph within the letter would start or end. This helps to keep track of the amount different paragraphs and where they would lie in the letter
Another element is `<div>` Some have attribute values such as "body" in order to show what type of divider it is and helps to show the structure of the letter.

[2019-02-20 23:47] alicapati commented on #1
**Question One**
I know that the article focuses heavily on the correct usage of pronouns when encoding transgender literature and how one can decide on what/how to use a specific pronoun. Based on previous conversations and research, I know that some members of the LGBTQIA+ community prefer to use gender-neutral pronouns such as: zhe/zher, hir, sie/ze, etc. For those who work heavily on encoding

[2019-02-21 01:42] Katiegriggs24 commented on #1
**Question 1**
Hi @JackieAlfarah , one of my questions is very similar to yours in asking will the study of ontology, or the knowledge of coming into existence, will ever be spot on if it is not ones self going through the changes or discovery of their true being? I want to question whether gender is something that can truly ever be defined since it something that has a different meaning depending

[2019-02-21 02:28] skarrow commented on #1
Question 1:
How does the limits in coding ontomology and the failure for TEI headers to recognize more than two genders before Hannah Kloster worked to fix the problem mirror the struggles society faced with gender? Think of Lili and the struggle her doctors had of what to call her or diagnos her as. What do we as a society have to do when we don't have the words or the words we do have are too li

[2019-02-21 02:55] elenipamboukis commented on #1
Question 1: The article states, "It gives us access to information likely to be missed by rigid, stable, and limited ontologies. Rather than simply identifying specific types of genders or sexualities, expanding gender types by adding new terms such as “genderqueer” and “transgender." This, in short, means that there will be more information given by not specifically stating the terms of one's sex

[2019-02-21 03:15] jsteele1 commented on #11
@anais-turiello below is the list I created of people and places in our document, part four of the exercise:

Tatjana Willims-Jones, ref="twj", mentioned: 1
Sabine Meyers, ref="sm", mentioned: 1
Zanabe Othman, ref="zo", mentioned: 1
Lili Elbe, key="lili", mentioned: 8
Einar Wegnar, key="wegenerE", mentioned: 16
Hotel Brutze, key="NO ID", mentioned: 2
Kopenhagen, key="copenhagen", mentioned: 2
(lin

[2019-02-21 03:25] Dadelinee commented on #1
<b>Question 1</b>
I had a similar question as @skarrow about whether it would be possible to even create TEI code that could correctly identify something that we don't even fully understand how to correctly identify in the English language. Is it possible to think of a simple TEI code that could ultimately gather all the difficult concepts of gender and how to explain it?

<b>In response to @eleni

[2019-02-21 03:31] jsteele1 commented on #11
Part five:
Two elements used in our XML file were:

1. `<gap extent="6">` this is used to indicate the gap in between pieces of writing. This follows TEI guidelines because for every different gap in this letter its attribute is a number that corresponds with which gap it is referring to and this labeling method makes it easy to understand by you the coder.

2. `<div type="letterTranslate">` this

[2019-02-21 03:47] jsteele1 commented on #1
Question one:

Is it possible to code something gender-related, trying to be mindful of everyone's preferences of gender if it is a concept that has its own unique preference/opinion to each individual?

Answer 1:

In response to @elenipamboukis's question number 2:

I feel like this relates my question of whether or not it is even possible to code such a tricky topic of gender. I don't think this

[2019-02-21 04:00] kklimek1 commented on #1
@RJP43 Sorry but I'm having issues with the assignment. I was able to open the link in class on Tuesday, but now when I open it, I can only read the abstract, and it asks me to pay to read the full article. Am I doing something wrong?

[2019-02-21 05:38] joaquindavalosponce commented on #1
Question 1: There is a feminist movement from Argentina seeking to change how nouns are written in Spanish and create "inclusive language"  (words in Spanish that end in the letter "A" are considered feminine, and words that end in "O" masculine). For example the word "Todos" means "all", but it ends in "os" which makes it a masculine word. For these types of words, they are proposing that they ne

[2019-02-21 06:49] ElleBromer commented on #1
Question 1:  The article does focus a lot on the use of correct gender pronouns especially when it relates to Lili's.  My question is how, in the future, a similar project would deal with Genderfluidity?  For example, changing between male, female, and non binary depending on the day.  This presents a unique challenge as to when to refer to the person by which pronoun, as while with Lili's you jus

[2019-02-21 16:05] RJP43 commented on #1
@kklimek1 you can access the reading on Sakai under Resources > Required Essays _**OR**_ you can [search for the article on the library website](https://loyola-primo.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid=TN_tayfranc10.1080/24692921.2018.1505819&context=PC&vid=01LUC&search_scope=Library_Collections&tab=default_tab&lang=en_US) and sign in to your library account to access and read

[2019-02-21 16:53] bcristiana commented on #14
The difficulties mounted by the language in its attempts to catch up with the changing reality cannot be properly surprised by a markup language whose organizing principle further amplifies this tension, through restrictive categorizations. Is it worth to sacrifice semantic ambiguity for the explicitness of a programming syntax? With the loss of the diachronic fluidity, there comes the peril of es

[2019-02-21 16:57] bcristiana commented on #14
@schola0208 , these are my comments for today assignment, hopefully placed in the right location. I do not see yet yours. Let me know if there is a problem.

[2019-02-21 17:11] schola0208 commented on #1
"both within philosophy and computing/information studies, there is a lot of slippage towards positivism or essentialism in the ways that ontologies are approached and understood." And while their conception of gender derives from Butler’s performativity, their methodology for producing a gender ontology may risk inadvertently reinforcing a substantive notion of gender as essentialist,"and essenti

[2019-02-21 17:13] kklimek1 commented on #1
@RJP43  Thank you so much! 😊

Question 1: Because so many of the characters would not identify with the labels that we would place on them today, how can we accurately create a balance between their identifications and more contemporary labels? Is there a way to code that will be flexible enough, that when our current ideas of gender become outdated, they can still be relevant in the future?

@joa

[2019-02-21 17:15] kschoen3 commented on #1
One question I have after reading this article has to do with the progression of our ideas of gender over time. I can't help but wonder if in 100 years, our concepts of gender will have continued to evolve and complicate the language we use in order to define and categorize texts. Even five years from now, I am sure there will be progress and change in our concepts of gender, further complicating

[2019-02-21 17:21] schola0208 commented on #1
In response to question 2, I think the goal of these ontological studies is to track the different transitions the idea of gender has undergone up to this point. And I think that documenting as broad a range as possible is the challenge, because if we can find a way to do that, then updating that range should be a smaller problem, and we would achieve the 'spot on' you are referring to.

[2019-02-21 17:26] schola0208 commented on #14
@bcristiana , go back to the issues board where you can see the whole list of issues, then find the "lets discuss storm clouds on the horizon issue"( its at the bottom,), then add your comment there. let me know if you find that

[2019-02-21 17:34] amandallopez commented on #16
The `<sourceDesc>` element is utilized to signal the description of the source. This provides information about the source that is being encoded. The `<fileDesc>` element is utilized to signify the description of the file. Under the file description, it has been stated that a key is still needed for Hasselbalch. This is useful because it will inform the encoder of the gap that still must be filled

[2019-02-21 17:50] bcristiana commented on #1
Can the quantum computing provide an asnwer to the challenges posed by the attempts to digitally archive the transgender and queer narratives without losing their inherently equivocal processual quality?

@schola0208 : The difficulties mounted by the language in its attempts to catch up with the changing reality cannot be properly surprised by a markup language whose organizing principle further a

[2019-02-21 17:52] bcristiana commented on #14
@schola0208 , thank you so much for your timely nudge toward the proper place. Done it!

[2019-02-21 18:01] dpedz commented on #1
*Question 1*
Due to the nature of gender changing over the years, can TEI truly keep up with these changes as gender is based on societal norms and the language's history?

"Can ontologies ever capture the complex, multi-layered, dynamic nature of gender identities?" is a great question, so my question will branch off this. With gender becoming more complex and changing over the years, it has take

[2019-02-21 18:03] schola0208 commented on #14
@bcristiana you're very welcome 👍

[2019-02-21 18:23] anais-turiello commented on #11
Part 5:
1. The element `<respStmt>` was used to indicate the statement of responsibility regarding the intellectual content of the piece. This follows the TEI guidelines because the names of the translators for the letter follow, therefore crediting the individuals who contributed.
2. the element `<p>` is used to mark paragraphs in prose. This follows TEI guidelines because it is an element capabl

[2019-02-21 18:24] jsteele1 commented on #11
@anais-turiello the elements I chose didn't show up in my last comment. I used < gap extend="5"> and < div type="letterTranslate">

[2019-02-21 18:27] bossa12 commented on #12
1. respStmt

the "respStmt" element includes the person who is responsible for what section. In this case, Sabine Meyer is responsible for the German translation part. And the attribute value shows her reference is sm, which will help to locate her full name.

2. titleStmt
"titleStmt" element nests elements including "title", "author", "respStmt".  It helps to organize the contents of this article

[2019-02-21 18:41] amandallopez commented on #1
**Question 1**
The reading suggests that, despite discussions of transsexuality or undergoing a sex change, some texts are not explicitly about the physical "sexed" body at all, but rather about the "cultural vicissitudes of gender." _The Oxford English Dictionary_ defines identity ontologically as “the quality or condition of being the same in substance, composition, nature, properties, or in par

[2019-02-21 18:50] nroyce commented on #1
Question 1: I feel the same way @elenipamboukis! We shouldn't be frustrated by non-conforming genders not falling into specific categories for our personal comprehension. I believe context clues about who the person is rather than what sex they identify with should be most important. I do wonder, how will this read in future written books that include the gender fluidity that is now very present?

[2019-02-21 18:52] anais-turiello commented on #1
Question 1: Considering the ways in which perceptions and references towards the Transgender and Queer community have changed greatly throughout time, it like likely that terms and viewpoints will evolve greatly over time, therefore changing the definition of what we now know as "modern." Will it be difficult to constantly adapt to these changes or will it be an easier process now considering that

[2019-02-21 19:00] amccann2 commented on #1
Question 1: As gender and technology both develop at higher levels, we will see a strong shift in cultural and technological norms. In terms of these tech advances our devices and digital world are constantly gathering data. Considering this, do you think that it is possible to create programs that will be able to able to sense or recognize misgendering etc?

Question 2:
As we move forward in usin

[2019-02-21 19:05] Tatjanawj commented on #1
Adding on to your first question I definitely think that the study of ontology can remain in both technology and also the author’s works. As the future changes, technology also changes and advances. This is the advantage of using technology, because it stays up-to-date and changes with the times. Therefore, as gender identities and gender studies change technology will change to adapt to it. In fa

[2019-02-21 19:05] Tatjanawj commented on #1
A question that I would like to pose, is after reading the Lili Elbe narrative, and having had an introduction into the encoding methods that were used for this narrative, how effective do you think the encoding methods are for defining terms in the work?

[2019-02-21 19:06] bossa12 commented on #1
My question is that since everyone is so different and as humanity develops, there will more and more term that a person wants to be referred by. Would that be too hard to keep on track? And as for the data visualization part, if there are too many categorical variables would it be meaningless to show the distribution?

@schola0208
Hi Schola, my opinion on your question 2 is that the actual books

[2019-02-21 19:43] Samantha9899 commented on #1
My first question I have is about the article in a general sense, who was the intended audience for this article? Not everyone who reads this would understand the language that is being used so who is it supposed to be for since there isn't much broken down so anyone could understand.

My second question related to @ElleBromer's question about genderfluidity, how and when would they be able to mak

[2019-02-22 00:03] ekupchella commented on #1
I think that it would definitely help to add the "e" at the end. I think it's more inclusive of human and less indicative of gender. Because gender is so fluid, and people identify as more than man or woman, I think it's easier to go to one overarching term that's inclusive. It's really cool to see there be this really broad inclusive way of talking about it, and i think that's super important to

[2019-02-22 00:09] ekupchella commented on #1
I think representation is huge in this space, and I'm super glad that you brought it up. I'm not sure if we'll ever really "get it right", but I do think that the first step to getting there is having people, in this case trans* people, intentionally stationed in leadership roles in these works. There's so much that we discussed about the book when we were reading Man Into Woman, for example, that

[2019-02-23 17:14] RJP43 commented on #9
Hi @ProfPLC and @katebarrettmurphy!  👋

For the next assignment, our team will need to reference the latest file added to the [German Letter 2 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/German_archive/German_letter2) -- a screenshot of the TEI header information provided by the project manager, Emily Datskou. As a team,

[2019-02-23 17:33] RJP43 commented on #10
Hi @Samantha9899 and @BMiller10!  👋

Well done completing the TEI XML Exercise! :tada:
The minor issues with your submission were:
1.  where the XML was uploaded (outside of the German Letter 1 folder)
2.  failure to use the same filename as original XML in German Letter 1 folder

I have corrected these issues to avoid confusion and messaged @Samantha9899 on the [upload commit history](https://git

[2019-02-23 17:49] RJP43 commented on #11
Hi @anais-turiello  and @jsteele1!  👋

Well done completing the TEI XML Exercise! :tada:
The minor issues with your submission were:
1.  the placement of your schema line
2.  due to the failed schema association were unable to identify actual schema validation errors

I have corrected these issues to avoid confusion and messaged you both on the [upload commit history](https://github.com/RJP43/Lili

[2019-02-23 18:02] RJP43 commented on #12
Hi @bossa12  and @Tatjanawj!  👋

Well done completing the TEI XML Exercise! :tada:
The minor issue with your submission was each member of the team needed to "select two different elements used in the XML (in the .xml file) in order to reflect in 2-4 sentences how the project has further constrained the original TEI element" and unfortunately only one of you completed that task.

For the next assi

[2019-02-23 18:20] RJP43 commented on #13
Hi @JackieAlfarah and @wravindran!  👋

Well done completing most of the TEI XML Exercise! :tada:
I know there were some unexpected issues when @wravindran attempted to associate the schema and upload it, but that you both worked on this task together in class in order to complete it. Well done communicating in person and getting through that part of the assignment. Nevertheless, each of you were t

[2019-02-23 18:27] RJP43 commented on #14
Hi @bcristiana  and @schola0208 !  👋

Wonderful team communication and assistance on this issue. Huzzah! 💛 Also, well done completing most of the TEI XML Exercise! :tada: The only issue with your submission was that each of you were to "select two different elements used in the XML (in the .xml file) in order to reflect in 2-4 sentences how the project has further constrained the original TEI elem

[2019-02-23 18:34] RJP43 commented on #15
@nroyce and @Katiegriggs24 😆 I am an idiot sometimes. Well done figuring out your document had no schema errors. 💛 Also, well done completing the TEI XML Exercise! :tada:

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310122 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMateri

[2019-02-23 18:38] RJP43 commented on #17
@ElleBromer  and @dpedz well done communicating so productively on your issue! 💛 Also, well done completing the TEI XML Exercise! :tada:

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310616 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310616) -- a

[2019-02-23 18:42] RJP43 commented on #16
@amandallopez  and @Dadelinee well done communicating so productively on your issue! 💛 Also, well done completing the TEI XML Exercise! :tada:

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310131 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310131)

[2019-02-23 18:45] RJP43 commented on #18
@joaquindavalosponce  and @kklimek1 well done completing the TEI XML Exercise! :tada:

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310724 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310724) -- a screenshot of the TEI header information provided b

[2019-02-23 18:53] RJP43 commented on #19
@kschoen3  and @amccann2 well done completing the TEI XML Exercise! :tada:  I will be asking my fellow technical editor, on the project, if he can identify what went wrong with both of your schema associations and will report back on your issue here with info. as it comes in.

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310807 Archival Ma

[2019-02-23 19:31] RJP43 commented on #20
@ekupchella  and @tinatiehen well done completing most of the TEI XML Exercise! :tada:  The only minor issue with your submission was although you were clearly able to associate the schema in order to determine the validation errors neither of you re-uploaded the correctly associated XML to your team's folder. I went ahead and added the XML with the correct schema line to your folder just to preve

[2019-02-23 19:34] RJP43 commented on #21
@alicapati, @skarrow, @elenipamboukis well done completing the TEI XML Exercise! :tada:

For the next assignment, your team will need to reference the latest file added to the [Danish Letter 19310615 Archival Materials Folder 📂](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/19310615) -- a screenshot of the TEI header information provided

[2019-02-24 05:50] RJP43 commented on #1
No more submissions will be accepted for this discussion thread. Please email Dr. Caughie and me if there are any questions/concerns. Thanks everybody for a wonderful discussion! 🎉

[2019-02-24 05:50] #1 closed, assigned to nobody

[2019-02-24 20:39] katebarrettmurphy commented on #3
I, Kate Barrett-Murphy, commit to the above declaration.

[2019-02-25 19:49] kklimek1 commented on #18
@joaquindavalosponce

So I looked over the assignment, and I think I feel pretty comfortable doing either step 2 or 3, (since 1 and 4 are meant to be done jointly, so if you have a preference for which steps you'd like to focus on, let me know!

I'm not entirely sure how to do step 1 though and how we would divide the work evenly.

[2019-02-25 19:49] bcristiana commented on #14
Rebecca, thank you for the feedback which unfortunately I saw too late. I tried to set an appointment with you, using the calendar, but didn't manage to, probably bc I didn't figure out the right way to do it. I know you said you're in the library after 3 pm. If yes, can I stop by? If yes, where exactly will you be in ICE?Thank you for taking the time to let us know what we do or don't.
Cristiana

[2019-02-25 20:08] RJP43 commented on #14
@bcristiana to make an appointment with me please just email me. I am not at the library today. I am actually in Crown. I will be done with my meeting here around 3/3:30 if you want to meet in the 4th-floor lounge today around 3:30 that could work. Just let me know so I don't leave right after my meetings.

[2019-02-25 20:15] RJP43 commented on #18
@kklimek1 one way to divide the work of task 1 evenly would be to divide the children elements of the `<teiHeader>` up. One possible workflow: one of you takes all of the `<respStmt>` elements while the other takes the `<sourceDesc>` and any other elements that need information replaced.   Hope this helps. 😺

[2019-02-25 21:58] bcristiana commented on #14
I am so sorry to have missed you today. Have been in the library until now. Am waiting in the Gavin - I think - auditorium for the Phoenix under attack meeting to begin. Will email you tonight. Thank you for getting back at me.

Sent from Yahoo Mail on Android

  On Mon, Feb 25, 2019 at 2:08 PM, Rebecca Parker<notifications@github.com> wrote:
@bcristiana to make an appointment with me please just

[2019-02-25 23:32] JackieAlfarah commented on #13
Hey @wravindran. I hope you had a good weekend. I Believe I uploaded the TEI schematized XML but im not sure where to find it on here to see it on screen.

[2019-02-25 23:56] JackieAlfarah commented on #13
I just re-uploaded using the TEI header as the title.

[2019-02-26 00:13] JackieAlfarah commented on #13
Sorry to keep bothering you, but you can click the TEI that I just uploaded so we can determine what metadata fit in the header. From there, we can re-upload the final product.

[2019-02-26 00:58] skarrow commented on #21
Some TEI elements to start putting together
`Letter to <persName key="">Ernst Ludwig Harthern Jacobson</persName>`
` <author>
               <persName key="">Sigmund Wegener Thomsen</persName>
            </author> `
 `<respStmt>
               <resp>Translation completed <date>20 November 2017</date> by</resp>
              <persName>Kristin Jacobsen</persName> <persName>Maiken Boysen</persname>

[2019-02-26 01:04] JackieAlfarah commented on #13
@wravindran one attribute that I noticed was not used in the letters was xenoData (container element). I believe it was not used because these letters were not digital so there was no xenoData at hand. The metadata did not exist digitally.

[2019-02-26 01:05] ProfPLC commented on #21
It's "Jacobson"   with an "o."

________________________________
From: skarrow <notifications@github.com>
Sent: Monday, February 25, 2019 6:58 PM
To: RJP43/LiliElbe_EngagedLearners
Cc: Caughie, Pamela; Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] Danish Letter 19310615 (#21)

Some TEI elements to start putting together
Letter to <persName key="">Ernst Ludwig Harthern Jacobsen</persName>
<

[2019-02-26 04:00] kschoen3 commented on #19
<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-

[2019-02-26 04:02] kschoen3 commented on #19
hey Audrey, I filled in the necessary information to our header (probably with quite a few mistakes). let me know if you need any help with the next step because i'm not sure if i did all of this correctly.

[2019-02-26 04:24] Samantha9899 commented on #10
@BMiller10 I have created the XML (the TEI P5: ALL) and I have downloaded the TEI headers template as well. I'm not sure if I am supposed to combine them into one XML document or not and I'm not sure exactly how to upload them because last time I did it incorrectly.

[2019-02-26 04:47] BMiller10 commented on #10
@Samantha9899 I think we are supposed to combine them and upload it as one complete document. I'm working on the header right now, and I'll gladly upload it to what I'm pretty sure is the right spot.

[2019-02-26 06:24] BMiller10 commented on #10
@Samantha9899 I did the header and uploaded it, but unfortunately I don't know your last name. So in the document, under who the students are that worked on this document, I'm missing your last name.

[2019-02-26 09:02] alicapati commented on #21
_hey friends!_ ☺️ @elenipamboukis @skarrow

`<respStmt>
               <resp>XML transformed into HTML on
                     <date></date> by</resp>
               <persName ref="rjp">Rebecca J. Parker</persName>
            </respStmt>
<respStmt>
               <resp>HTML proofing completed from <date> to ,
                     </date> by</resp>
               <persName></persName>

[2019-02-26 15:14] RJP43 commented on #9
@katebarrettmurphy I am in Damen near the cafeteria. Where are you?

[2019-02-26 15:17] katebarrettmurphy commented on #9
on my way

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rebecca Parker <notifications@github.com>
Sent: Tuesday, February 26, 2019 9:14:15 AM
To: RJP43/LiliElbe_EngagedLearners
Cc: Barrett-Murphy, Kate; Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] German Letter 2 (#9)

@katebarretmurphy I am in Damen near the cafeteria. Where are you?

—
You are receiv

[2019-02-26 15:48] katebarrettmurphy commented on #9
When you click on the error you notice a question mark as a key, which we can't have because it's not specifying the persons identity.

[2019-02-26 16:28] schola0208 commented on #14
@bcristiana this is the first step of the homework and it is what we need to do for today. https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/Exercises/TEIheader_exercise.md this is the link, look at the step by step.
basically we will look at https://github.com/RJP43/LiliElbe_EngagedLearners/wiki/Capturing-Metadata#sample-teiheader for what elements are expected, then look at each of t

[2019-02-26 17:37] RJP43 commented on #9
@ProfPLC just leaving notes to reflect on @katebarrettmurphy and my in-person meeting:

In our meeting, I was able to show Kate how to download a file from GitHub, associate a schema and report on validation errors, upload a file to GitHub, and edit the XML. For the TEI Header assignment, Kate downloaded the TEI header template from GitHub and started changing the commented out information to refl

[2019-02-26 17:39] amccann2 commented on #19
@RJP43 @kschoen3 I have uploaded the document to our folder. I know that there are several issues within the XML document. I wasn't fully sure how to tackle this so I was hoping that we could sit down in class and discuss how to fix these bugs. -audrey

[2019-02-26 17:45] amccann2 commented on #19
one of the TEI header < ClassCode >
This is a classification of standards that would help us differentiate further between editions, letters, and languages. These classifications would be within the header and at the beginning of any specific text so that we can automatically search for the language, the format, and the edition/time of publication.

[2019-02-26 17:48] RJP43 commented on #9
TEI Header Exercise Task # 4 - TEI Header Element Discussion

One element I observed in the TEI header section of the TEI guidelines that I do not see being used in the project's template is the [`<calendarDesc>` element](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-calendarDesc.html). According to the guidelines, the `<calendarDesc>` element "contains a description of the calendar sys

[2019-02-26 17:48] kschoen3 commented on #19
I think that using `<note>` would be helpful in order to classify certain marks that the author of the letter includes in the text instead of including them just in the comment of description. Classifying the underlining, circling, emphasis on words, etc. in a systematic way would allow us to communicate more information about the documents.

[2019-02-26 17:50] kschoen3 commented on #19
I think this is a good point of clarification. It would be interesting to find a way to further organize the letters that we have in the archive.

[2019-02-26 17:52] kschoen3 commented on #19
I looked over the XML file again as well and couldn't quite figure out where the issues were so I'm on the same page. 👍

[2019-02-26 17:58] wravindran commented on #13
@JackieAlfarah Thanks for the link i couldnt find it at first.
.

[2019-02-26 18:01] amccann2 commented on #19
@kschoen3 !! this is a great idea. It could be super helpful to clarify this, and would allow us to maintain the integrity of the original author's intent. There is a lot to be lost if we don't highlight the importance of small annotations.

[2019-02-26 18:01] Dadelinee commented on #16
`<title>Letter to <persName key="knudsenP">Poul Knudsen</persName></title>`
`<author><persName key="lili">Lili Ilse Elvenes</persName></author>`
`<respStmt><resp>Photographed <date>August 16-17, 2017</date> by</resp>
<persName ref="plc">Pamela Caughie</persName></respStmt>`
`<respStmt><resp>Images prepared in <date>November 2017</date> by</resp><persName ref="mg">Matthew Gallagher</persName></resp

[2019-02-26 18:05] ProfPLC commented on #9
?Given the different ways of dating material in different languages, this might be a useful element. We've been writing out the dates because in English we would write 02-03-19 for February 3, 2019 whereas in German and Danish it would be written 03-02-19 (which we would read as March 2).  If the calendar element would standardize dates, that could be useful; if, however, it allowed us to use both

[2019-02-26 18:12] RJP43 commented on #9
Thanks @ProfPLC. @katebarrettmurphy I hope my statement and Dr. Caughie's response help you understand our expectations for task # 4 of the assignment.

[2019-02-26 18:18] Dadelinee commented on #16
I think `<projectDesc>` would be good to use in the header because it describes in detail the aim or purpose for which an electronic file was encoded, together with any other relevant information concerning the process by which it was assembled or collected. That way the reason for gathering all of this data and doing all this work can be easily understood by those reading it and emphasizes the im

[2019-02-26 18:38] bcristiana commented on #14
@schola0208 , I am now in the GitHub, exploring the data.

[2019-02-26 18:42] schola0208 commented on #14
`<?xml version="1.0" encoding="UTF-8"?>

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/

[2019-02-26 18:46] schola0208 commented on #14
@RJP43 what do we do when the format of the element in the template doesn't match the data? I just copied and pasted the element in order to record two names, but then I got to a date element, where the template wanted a month and a year, and the data has an exact date, or has multiple months

[2019-02-26 18:54] bcristiana commented on #14
@schola0208 , I think we need to decide on which elements each of us will be working. I saw your question and I think we can find an answer by looking to the existing examples. See you in class.

[2019-02-26 18:57] RJP43 commented on #14
@schola0208 great question and @bcristiana is right! As mentioned in my first XML comment in the TEI Header template file, certain date formats may appear within `<respStmt>` elements but not match the exact information relative to your text because the template is meant to just show you the different ways dates could be encoded. Use whichever date format from the header template that best fits th

[2019-02-26 18:59] RJP43 commented on #13
@JackieAlfarah could you provide a link the xenoData element in the TEI Guideline or at least the definition given for the kind of data captured in that element?

[2019-02-26 19:39] alicapati commented on #21
@skarrow @elenipamboukis I uploaded the TEI header into our folder, the only 2 things I didn't fill in were the two elements I mentioned **above**.
- `<respStmt> <resp>XML transformed into HTML on <date></date> by</resp> <persName ref="rjp">Rebecca J. Parker</persName> </respStmt> `
- `<respStmt> <resp>HTML proofing completed from <date> to , </date> by</resp> <persName></persName> <persName></per

[2019-02-26 19:45] katebarrettmurphy commented on #9
i can’t find the spreadsheet

[2019-02-26 19:53] alicapati commented on #21
When looking over the elements listed in _The TEI Header_ article posted for us, I noticed that we are not using an `<editor>` tag. Instead for the project, we are using `<resp>Transcription completed from</resp>` and `<resp>Translation completed from</resp>`. Although the same person was considered the lead translator/transcriber, two other people were able to check the translations on a differen

[2019-02-26 19:55] Samantha9899 commented on #10
An element discussed in the TEI Header section of the TEI Guidelines that is not being used in our project's `<teiHeader>` template is `<extent>` which is the size of the text that you are working on. For this document it could show how many lines are in the letter and it shows how short it is in comparison to other documents.

Another element that is in the guidelines but is not in the template i

[2019-02-26 20:06] wravindran commented on #13
@JackieAlfarah I noticesd that an attribute that was used was the ProfileDesc. When describing the encoded description.

[2019-02-26 20:23] RJP43 commented on #9
@katebarrettmurphy if you mean the spreadsheet screenshot with the TEI header information it is available in our team's folder. [Here](https://raw.githubusercontent.com/RJP43/LiliElbe_EngagedLearners/master/ProjectDocs/archivalMaterials/German_archive/German_letter2/GermanLetters_TEIheaderInfo.png) is a quick link to the file.

[2019-02-26 20:31] JackieAlfarah commented on #13
sure! its https://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html. This element is used as a "container element" where metadata in Non-TEI formats are placed.

[2019-02-26 21:04] skarrow commented on #21
One TEI header element that is missing from ours is
`<encodingDesc>`
This element describes the relationship between a document and its sources. It tell us whether or not a text was normalized in transcription, how ambiguities were labeled or resolved, etc. It provides extra information about the document itself and the process in which it was encoded.

This would add to our letter because there n

[2019-02-26 21:06] ElleBromer commented on #17
Myself and @dpedz have met in class, talked, and decided to split up the work with myself doing part 2 and her doing part 3.  Once we are finished with those we are going to work on number 4

[2019-02-26 21:07] skarrow commented on #21
Today in class during team time...
@alicapati  made revisions to the document as @RJP43 went over our document in class
@skarrow will go through and add to the keys of the persName elements in the TEI header

@alicapati @elenipamboukis @skarrow --> all three of us commented on a missing TEI element and responded to each others comments

[2019-02-26 21:08] elenipamboukis commented on #21
[https://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/HD.html)
I am choosing "fileDesc"-
1.) a file description, tagged fileDesc, containing a full bibliographical description of the computer file itself, from which a user of the text could derive a proper bibliographic citation, or which a librarian or archivist could use in creating a

[2019-02-26 21:11] skarrow commented on #21
@RJP43 I couldn't find a key id for Harthern for our letter

[2019-02-26 21:12] alicapati commented on #21
When reading the _TEI Header_ article, one element that was mentioned was the `<revisionDesc>` which allows various editors to write an account of things that they may have changed, tweaked, etc. in the document since it was last opened. Although I know that comments may serve a similar effect, I think it would be nice to have a place in which various editors could write about the changes they hav

[2019-02-26 21:13] elenipamboukis commented on #21
@skarrow I think that this is important to add within our TEI header because it can give us insight to the information within the TEI header that has been labelled or transcribed. It tells us why the decisions were things made- the motive behind them. Without it, I feel like the reader can just assume- but even that causes 'wrongs' and 'errors.'

[2019-02-26 21:13] skarrow commented on #21
@elenipamboukis I agree that the `<filedesc>` is an important TEI element. Because even though we have all that information in our current TEI element, it is standing alone, and the `<filedesc>` element can be used to link all the elements together

[2019-02-26 21:13] wravindran commented on #13
@JackieAlfarah an attribute I noticed was the revisionDesc not used because these are the first electronic texts, and because it is the first, there is no reference to see if there were any changes made.

[2019-02-26 21:14] skarrow commented on #21
@RJP43 there is also no key ID for Sigurd Wegener Thomsen in the spreadsheet

[2019-02-26 21:17] Katiegriggs24 commented on #15
4. One TEI element that isn't being use in the Danish letter 15 is `<appInfo>`. This element records the information about an application which has edited the TEI file. One reason that this element isn't being used is because for this project we don't have an application that edits the files. All of the edits being made are from people who edit the files.

[2019-02-26 21:17] elenipamboukis commented on #21
@alicapati I agree with you that this is essential for the document because without a proper history of changes, there would be no responsibility for wrongs and there wouldn't be an account of who made what changes and why. There HAS to be notes of who made what changes and why so that the reader can understand the connections. If it weren't there I believe that the reader wouldn't know what was c

[2019-02-26 21:19] Tatjanawj commented on #12
Ran and I discussed in person how to divide up the task. She will be updating the metadata in the XML file from line 1 - 53 and I will be doing lines 54 - 97.

[2019-02-26 21:20] alicapati commented on #21
@elenipamboukis
I like the fact that you addressed the importance of having `<fileDesc>` in the TEI header. Without having this, it would be difficult for those who are navigating the article to find where the author, date, publication, etc. of the text is located. Having this element keeps all the pertinent information of the origin of the text in one place instead of forcing individuals to scrol

[2019-02-26 21:20] BMiller10 commented on #10
An element not preset in our header would be `<bibl>` or anything pertaining to a bibliography. As our documents are primary sources, personal correspondence, they do not cite any sources. Such an annotation would be helpful for scholarly sources.

[2019-02-26 21:20] skarrow commented on #21
@alicapati I agree that the `<revisionDocs>` element would be nice to add to our letter. It would explicitly tell us any additional revisions that have been made to the document. This would be better than having to hunt through the document for possible revisions, or not being aware of revisions in general.

[2019-02-26 21:21] ElleBromer commented on #17
Description of the pictures: It was written on paper that has been obviously folded.  The letter was written in pencil.  The letter is double sided, and on the front is a comment written in red in the top left corner with a gentle upward slant.  The paper has three holes in it reminiscent of notebook paper.

[2019-02-26 21:22] elenipamboukis commented on #21
Observation: In looking at images 1-10, I noticed that it is handwriting written in black cursive ink with some red crayon lines drawn on the sides of some of the writing.

[2019-02-26 21:24] BMiller10 commented on #10
As @Samantha9899 says, `<extent>` is used to determine how long a document is, text-wise. This is most likely not useful for a handwritten letter, as handwriting size varies so widely.

[2019-02-26 21:24] katebarrettmurphy commented on #9
Revision Description is non-existent in the German letter 2 file. Revision Description is a summary of the file's history. I think this might be beneficial for the document to have because it would have everything all together in one spot making it easier to find everything.

[2019-02-26 21:26] Samantha9899 commented on #10
Since it is a primary source and we are giving the author, date and the information we have, we don't need a different bibliography section since we are saying most of this information in other parts.

[2019-02-26 21:26] Samantha9899 commented on #10
@BMiller10 and I worked during the class time to edit and resubmit the header file and to finish step 4 of the assignment.

[2019-02-26 21:27] alicapati commented on #21
@skarrow
I like the fact that you called attention to the importance of this element. I think this would be a good way for other encoders to know where their information is coming from. In this case, this letter was originally a written document, then was translated and transcribed, then coded. Having this element would allow coders to document any changes that were made between the original writt

[2019-02-26 21:28] alicapati commented on #21
@elenipamboukis @skarrow and I completed our tasks during the 20 minutes of Team Time in class. 🎆 🎉 🎈

[2019-02-26 21:30] katebarrettmurphy commented on #9
@RJP43 @ProfPLC I think writing the months in the form of words (January, February, March...) has less of a chance for misunderstanding than writing months in the form of numbers (01, 02, 03...). Numbers can be left for specific dates and the year.

[2019-02-26 21:34] kklimek1 commented on #18
In class today, @joaquindavalosponce and I divided the <teiHeader> in half, and added in the missing information. I did the first half, uploaded the document, and Joaquin will download that, do the last half, and reupload it. We'll be doing step 4 after class!  :sparkles:

[2019-02-26 21:35] Samantha9899 commented on #10
I resubmitted the header file again after reviewing it again and finding a few spelling or placement errors.

[2019-02-26 21:36] jsteele1 commented on #11
In the first picture: Gletter3_IMG_9032.jpg. I observed that there is seems to be three different types of handwritings: 1. dark handwriting, 2. lighter handwriting, 3. red handwriting. The lighter handwriting seems to be the body of the letter. The darker handwriting seems to be headers/roman numerals. The red handwriting is written horizontally on top of the body of the letter. The letter is wri

[2019-02-26 21:42] JackieAlfarah commented on #13
I noticed in the letter dated 29/12, there are two underlined words. I wonder what they mean and what their significance is.

[2019-02-26 22:00] Dadelinee commented on #16
@amandallopez heya! Throw down your email address here and I'll send the .xml file your way :^)

[2019-02-26 22:12] amandallopez commented on #16
@Dadelinee Sounds good, thank you (ღˇᴗˇ) My email is alopez21@luc.edu

[2019-02-26 22:30] tinatiehen commented on #20
Elizabeth and I discussed in class that we will equally divide our TEI header tasks within our XML file, I created lines 1-43 in the TEI header, and Elizabeth took 44-96. I sent my lines to Elizabeth and she will be uploading the xml tei header file to our issue.

[2019-02-26 22:50] tinatiehen commented on #20
A TEI element I noticed that is not utilized in our TEI header is ``<listPerson>``. This element is described by the TEI guidelines as containing a list of descriptions, "each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source." I thought it was interesting we do n

[2019-02-27 03:04] dpedz commented on #17
@ElleBromer The file is uploaded! Some parts aren't filled out since we don't have the info for it yet.

[2019-02-27 18:22] RJP43 commented on #20
@tinatiehen @ekupchella I love the idea of dividing the file up based on lines. What a nice use of the line numbering available in oXygen as well as here on GitHub. Great use of the interfaces we are using!

@tinatiehen 🎉 fantastic statement regarding the element `<listPerson>`. I am really pleased to see you made this observation regarding our complex prosopography situtaion. I am pleased to tell

[2019-02-27 18:42] RJP43 commented on #16
@amandallopez I suggest uploading the `.xml` file directly to GitHub in your team's folder. Loyola email service will not allow XML file attachments to be read or downloaded. As a reminder instructions to upload directly to GitHub are on our Working in GitHub wiki page, but I have copied them below as well:

# Adding an existing file directly on GitHub
1. On GitHub, navigate to the main page of th

[2019-02-27 18:42] RJP43 commented on #16
@Dadelinee fantastic statement regarding the `<projectDesc>` element! I think we will probably want to develop this element as the project continues to build out our TEI Header Template. Well done. 🎉 @amandallopez I look forward to your response to @Dadelinee.

[2019-02-27 18:49] dpedz commented on #17
An element that I noticed that wasn't in our TEI header was the `<profileDesc>` element. This focuses on the langauges and sub langauges used within the text that aren't related to the bibliographic aspects of the text.

This would add to our letter by identifying what language it was originally before it was translated into the English version.

[2019-02-27 19:43] RJP43 commented on #18
@joaquindavalosponce in response to your email:

![codesample_learnersubmitted](https://user-images.githubusercontent.com/8645521/53516683-7a1f0400-3a92-11e9-9cbe-b383c5bfb324.png)
 Your questions were regarding information for the following:
- "Exact transformation date"
- "HTML proofing completed from x to x"
- "Name of archive"

First, for the `<respStmt>` regarding the HTML transformation date

[2019-02-27 19:56] RJP43 commented on #9
@katebarrettmurphy Thank you for your consideration of the revision description element. I agree it might be a useful element to look into; however, our series of resp statements are giving the information that a revision history in the revision description would also give. Luckily when we transform the XML we can grab all the resp statements and form them into a single paragraph so that might be

[2019-02-27 20:05] RJP43 commented on #21
@elenipamboukis @skarrow @alicapati Fantastic conversation here regarding your statements and suggestions for possible elements to include in our TEI Header. For the revision description element since our project has utilized version control software (at the root of GitHub and Gitlab - the two online repository spaces our project uses) we might consider writing up a statement for each file looking

[2019-02-27 21:10] RJP43 commented on #14
@bcristiana and I are working together to complete her portion of the assignment. In response to the question, what is the name of the archive and the location? the bit of necessary information is in the first column of the spreadsheet image -- Ernst Harthern Archives, Arbetarrörelsens Arkiv och Bibliotek (Swedish Labour Movement’s Archives and Library), Huddinge, Sweden

[2019-02-28 01:37] joaquindavalosponce commented on #18
A TEI header I did not find in our assignment was `<profileDesc>` . I feel that this TEI header is important because the documents we are working with are translations from Lily's original letters, which were written in Danish. For us that already know this, it is pretty obvious and we don't need a reminder, but it would be very helpful for people who look at this document for the first time

[2019-02-28 01:48] anais-turiello commented on #11
I uploaded the TEI header document with all of the information as well as Jade's commentary. However, I couldn't find the information regarding the date of the XML into HTML transformation as well as the date for the completion of the HTML proofing. Let me know if there's a way to fix this.

[2019-02-28 02:46] jsteele1 commented on #11
An element not used in our project is revisionDesc, this element is used for revision history. It allows for the encoder to provide a history of changes made during the development of the electronic text. I believe we use comments for this in our project.

[2019-02-28 02:56] jsteele1 commented on #11
The last step of the assignment due tomorrow is to each post an element not used in our project (2-3 sentences) and respond to each others @anais-turiello mine is posted above so you just need to respond then post your own and I'll reply to that

[2019-02-28 08:34] ekupchella commented on #20
Really great points, Tina!

I wanted to focus on how we didn't have to do `<schemaRef>`. The reason is that we've been talking so much about the meaning of the schema, that is, the organization or structure of our database. It makes sense that we'd probably omit this, as we're just trying to focus on adding new information and things could get confusing, at least in my opinion, if we not only do s

[2019-02-28 09:48] ElleBromer commented on #17
Another element that I noticed wasn’t in the Header is the `<Factuality>` element, which helps clarify if the given name is true to life.  It could help distinguish the difference between various people mentioned in the text and their real names.  It could also help differentiate clearly exaggerated things from reality

[2019-02-28 09:54] ElleBromer commented on #17
That is very true, and it helps when searching for a comparison.  If you know that what you are looking at is a translation of Danish rather than German you may be able to pick up various cultural clues or references that may not have been previously available for understanding.

[2019-02-28 12:37] bcristiana commented on #14
@schola0208 , I have added the comments about particular features of the document.
How are you doing?

[2019-02-28 12:58] bcristiana commented on #14
The `language usage` is an additional element that is not used in this project template. `<langUsage>`, which describes the languages and/or idioms represented within a text, could be useful, given that, in the American edition and, I suppose, in the others as well, there are a few sentences in French.

[2019-02-28 13:19] bcristiana commented on #14
@schola0208 , this is my other half of the *teiheader*. I am waiting for your element of choice, to see if there is any other comment that I could add.

`<resp>Encoding assistance and/or XML proofing completed by</resp>
                    <persName ref="rjp">Rebecca J. Parker</persName>
                    <persName>Nicholas Wasmoen</persName>
                    <persName></persName>

[2019-02-28 13:21] RJP43 commented on #11
@jsteele1 fantastic source description of the two images, and the revisionDesc element is certainly an interesting one. I am looking forward to @anais-turiello's response and chosen element.

As for the information in the header you could not find it is because that information is yet to be supplied. As mentioned in class, anything about HTML should just be copied directly from the template and un

[2019-02-28 13:26] RJP43 commented on #14
@bcristiana fantastic work. One minor adjustment ... remove the comment tag around your sourceDesc text.

[2019-02-28 13:32] bcristiana commented on #14
@RJP43 , thank you for your help and suggestions.

[2019-02-28 13:40] bcristiana commented on #14
@RJP43 and @schola0208 , this is the same half of *teiheader*, but with the adjustment.

`<resp>Encoding assistance and/or XML proofing completed by</resp>
                    <persName ref="rjp">Rebecca J. Parker</persName>
                    <persName>Nicholas Wasmoen</persName>
                    <persName></persName>
                </respStmt>
                <respStmt>

[2019-02-28 14:12] schola0208 commented on #14
@bcristiana good job! I'm just getting to the assignment, I have a few things to fix then I will upload it in a couple of hours.

[2019-02-28 15:29] bcristiana commented on #14
@schola0208 , now that you're on it, I know that our project is on good hands. Don't forget to select an element unused in our TEI header project and explain why. In this way, I too will be able to add some thought, if any.

[2019-02-28 16:28] schola0208 commented on #14
@bcristiana, can you email me your portion that you pasted above as an xml file? (attach it to email). somehow the copying and pasting is making it weird

[2019-02-28 16:33] schola0208 commented on #14
or, @RJP43 , what do I do to make sure that when I paste @bcristiana work into my xml file, it doesnt paste as one single line? because that is what is happening right now

[2019-02-28 16:37] tinatiehen commented on #20
Elizabeth, great points❗️I agree that referencing a specific schema could not only become repetitive, but the project is constantly improving and changing based on incoming information. That being said, the schema would need to reflect the progress being made and thus, could be modified and become inconsistent for any given xml. However, I find it beneficial to recognize that the ``<schemaRef>`` e

[2019-02-28 16:41] bcristiana commented on #14
@schola0208 , will do it.

[2019-02-28 16:44] bcristiana commented on #14
@schola0208 , what is your email address?

[2019-02-28 16:45] schola0208 commented on #14
@bcristiana it is siradukunda@luc.edu

[2019-02-28 16:50] bcristiana commented on #14
@schola0208 , ok.

[2019-02-28 17:00] bossa12 commented on #12
<title>
               Letter to <persName key=""></persName>
            </title>

We didn't get to use this element since it is for a letter and our task is an article. This element specifies the person is addressed to the letter and contains the attribute of this person's key id.

[2019-02-28 17:04] bcristiana commented on #14
@schola0208 , hopefully it will work now.

[2019-02-28 17:08] RJP43 commented on #14
@schola0208 Loyola's email system does not allow for a XML file to be sent via email. You should be able to highlight and copy her text above and paste it directly into your XML file in oXygen. If you are having issues I am in the IC on the second floor at the reference desk until 1 or I can assist you right before class.

[2019-02-28 17:12] RJP43 commented on #12
@bossa12 yes, you are correct that in the template your team will not use the title element for letters instead your team should use the title element for texts with translations...
[code]
If your comment above is meant to be your response to task # 4 on the assignment then please return to the [exercise](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/Exercises/TEIheader_exercise.md

[2019-02-28 17:14] RJP43 commented on #20
:tada: This is a fantastic interaction @tinatiehen and @ekupchella! 🎉

[2019-02-28 17:17] Dadelinee commented on #16
@amandallopez I uploaded the .xml file to the folder if you just wanna throw in the last parts that you have!

[2019-02-28 17:26] amandallopez commented on #16
@Dadelinee Awesome, thank you! I’m working on it now

[2019-02-28 17:31] bossa12 commented on #12
I find 'list' '/list' element groups haven't been used in our issue. This element can be used more specific like 'listEvent', 'listRelationships', 'listPerson'... These will give ideas about how the listed items related to each other and the traits those items share.

[2019-02-28 17:32] schola0208 commented on #14
The elements I think the template could use is `<handNotes>` which is described as: contains one or more handNote elements documenting the different hands identified within the source texts. As a reader, I would like to know if this handwriting is the same as the handwriting in another anonymous letter in the text. I would also want to know how many times this handwriting had correspondence with s

[2019-02-28 17:38] schola0208 commented on #14
That is very interesting, and I can relate, because as a french speaker, there are phrases that added to my enjoyment of the text that non-English speakers would just not get. This element is also relevant because  language evolves over time, thus even the English of the 1920s is not the same as the English of 2020.
But now I'm wondering, where is the line between enabling readers (and scholars) t

[2019-02-28 17:39] schola0208 commented on #14
@RJP43 , @bcristiana , I have uploaded the combined file, and made my observations about elements that could be added to the template.

[2019-02-28 17:47] bcristiana commented on #14
@schola0208 , great! Thank you for your finishing touch!

[2019-02-28 17:50] RJP43 commented on #14
@schola0208 @bcristiana Great work! You are nearly done. @bcristiana you will just need to reply to @schola0208's brilliant statement above about the `<handNotes>` element.

[2019-02-28 17:50] bcristiana commented on #14
@RJP43 , it is to you and **your** final touch that I and @schola0208  owe our thanks! Thank you so much for your help!

[2019-02-28 17:54] anais-turiello commented on #11
Another element that was not used in our project was `<encodingDesc>` which is an element that documents the relationship between the electronic text and the source from which it came from. We could use this in our project to signify the relationship between Lili's handwritten letter and the typed up version of it.

[2019-02-28 17:58] anais-turiello commented on #11
@jsteele1 I think it would be important for us to use this element in our project because it would make it easier for us to keep track of the revisions made to the document along the way. I think it could be a way to make things more organized for us.

[2019-02-28 18:00] bcristiana commented on #14
@schola0208 , your observation, if taken into account, could add an extremely important nuance to this complex project. It would provide relevance to Lili's claim that her handwriting has changed radically once her femininity asserts itself over Andreas. It could also establish a genealogy among the handwritten documents whose author is unknown or cannot be attributed to one in uncertain terms, as

[2019-02-28 18:05] RJP43 commented on #20
@tinatiehen @ekupchella please be sure to upload your file containing the completed TEI Header before class. I do not see it in your team's folder.

[2019-02-28 18:09] RJP43 commented on #18
@kklimek1 you will want to be sure to respond to @joaquindavalosponce statement above regarding the `<profileDesc>` element before class in order to get full credit. You will also need to post a statement about a different unused tei header element so that @joaquindavalosponce can respond and get full credit.

[2019-02-28 18:12] RJP43 commented on #17
@dpedz the final task of your assignment to get full credit will be responding to @ElleBromer's statement above regarding the `<factuality>` element.

[2019-02-28 18:13] bossa12 commented on #12
@RJP43 hey Rebecca, I uploaded the TEI header file into the LiliForeword file, but how can I refer the file into this issue board?

[2019-02-28 18:15] jsteele1 commented on #11
@anais-turiello The element you chose didn't post, but using the description you said about it I think this could be a helpful element to use in our project because we have photos and letters that we are using. That element seems like it is similar to the element I chose and it would help just keep track of things.

[2019-02-28 18:16] RJP43 commented on #16
@amandallopez once you add those finishing touches and upload you will need to respond to @Dadelinee statement regarding the `<projectDesc>` element and post a statement about a different element not used in our header template for @Dadelinee to respond to. See you both in class!

[2019-02-28 18:20] RJP43 commented on #15
@Katiegriggs24 @nroyce There is still quite a bit left to do in order to get full credit for this assignment. Please be sure to upload your completed TEI Header `.xml` file to your team's folder. Also, @nroyce you still need to respond to @Katiegriggs24's statement above about the `<appInfo>` element and make a statement about a different tei header element not used in our template so @Katiegriggs

[2019-02-28 18:23] nroyce commented on #15
I did upload the TEI header XML file. Are you not able to see it? I will respond to @katiegriggs24 in just a couple mins. I wasn’t aware I had to respond to that one so thank you for pointing that out @rjp43.

[2019-02-28 18:25] RJP43 commented on #13
@JackieAlfarah @wravindran there is still quite a bit to do on this assignment before class in order to receive full credit. First, your header file doesn't contain many of the parts in [our template](https://raw.githubusercontent.com/RJP43/LiliElbe_EngagedLearners/master/ProjectDocs/TEIHeader_Template.xml). Please revise and re-upload your header file so it includes a correctly filled out header.

[2019-02-28 18:26] dpedz commented on #17
@ElleBromer This is absolutely important, especially regarding our working text. In MIW, we have a few pseudo names that don't correspond to their real life counter part. This can help clear up some confusion to readers by telling that that these 2 people are the same person and which characters are truly fictional.

[2019-02-28 18:27] RJP43 commented on #15
@nroyce my apologies I see your file now. I was looking for the file to be named according to what was listed in the assignment. No big deal it is not. A quick note looking at the file -- you don't want any of the information you and @Katiegriggs24 inputted to be in XML comments. I see your `<sourceDesc>` text is still commented out.  See you both in class.

[2019-02-28 18:32] RJP43 commented on #12
@bossa12 I see your file here - [LiliForeword_header.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/German_archive/LiliForward/LiliForeword_header.xml). Well done! Thank you for uploading. In order to receive full credit, @Tatjanawj you will need to respond to @bossa12's statement above regarding the list element groups and write a statement so @bo

[2019-02-28 18:34] RJP43 commented on #11
@jsteele1 I added the tic marks around @anais-turiello's element so you can see it now.

[2019-02-28 18:46] nroyce commented on #15
@Katiegriggs24 I think `<appInfo>` could be useful if someone needed to know what software we were using.  Good call!
I also think we could have used `<encodingDesc>` to encompass that and include other important information in the TEI Header. Maybe the encoders could be placed in this element?

[2019-02-28 18:48] RJP43 commented on #15
@nroyce we actually will end up using the `<encodingDesc>` so I am happy you found your way to that element. We will be using it to give a statement regarding the process of encoding instead of a list of the actual encoders since they are represented in the `<respStmt>` elements.

[2019-02-28 18:49] nroyce commented on #15
@RJP43 I originally had the `<sourceDesc>` as a comment because of the nature of the information put in there. It seemed more of a comment than a fact/tag/title, etc. I have corrected that now. Thank you.

[2019-02-28 18:51] amandallopez commented on #16
A revision history, tagged `revisionDesc`, would be useful for allowing the encoder to provide a description of the changes being made to the file. This would resolve any questions regarding the development of the electronic text and provides a clear history.

[2019-02-28 18:55] amandallopez commented on #16
@Dadelinee I agree that `projectDesc` would be an insightful element to utilize because it clearly provides the aim of the document. It also serves as general outline for the project as a whole and might clear up any confusion a reader may have about the content.

[2019-02-28 19:00] Dadelinee commented on #16
@amandallopez I agree that this would help a document. That way if someone reading it was confused, they can possibly see who made the change as well as why in order to clear up why maybe another term was used or even why a term was taken out and then replaced with something else. Especially in a project like this, where using the term "transgender" seems logical to us today, it's not something Li

[2019-02-28 19:01] RJP43 commented on #16
@amandalopez fantastic responses. I noticed in your recently uploaded XML you inputted your information within the XML comments. You or @dadelinee will want to remove the comment tags around the text you added. Great work.

[2019-02-28 19:04] kklimek1 commented on #18
@joaquindavalosponce I think that'd really be helpful, as like you said, it would clarify a lot to people who are reading the XML without any prior information about Lili and her letters.

Similarly, I thought that including `<langUsage>` into the TEI header would be useful. Because`<profileDesc>` can include other information besides the language, such as the situation, participants and settings,

[2019-02-28 19:05] Dadelinee commented on #16
@amandallopez would you mind? I'm in class right now otherwise I would :'^)

[2019-02-28 19:53] amandallopez commented on #16
@Dadelinee I just re-uploaded it and removed the comment tags!

[2019-02-28 19:55] Dadelinee commented on #16
@amandallopez you're the best, thank you!

[2019-02-28 20:07] Katiegriggs24 commented on #15
@nroyce using the `<encodingDesc>` tag would be really beneficial for this project because of the different relationships with the archive/ narrative and the different archival materials that we are using

[2019-02-28 20:24] JackieAlfarah commented on #13
Yea, I noticed that too. It is also an optional attribute, but it should still be used.

[2019-02-28 20:30] JackieAlfarah commented on #13
I just fixed some of the problems on our header file. I also commented on the comment of @wravindran

[2019-02-28 20:38] nroyce commented on #15
I don't recall if I noted this anywhere on Tuesday, but I did not insert a title for the letter because @Katiegriggs24 and I were unable to find one in the screenshot, transcript, or photos of the letters.

[2019-02-28 20:45] ProfPLC opened #23 "Technical Issues - How to post an issue!"
As explained in class on Thursday (2/28), please bring any technical questions/concerns to the issues board. We ask you to tag the entire class just in case someone in the class is able to respond quicker than Rebecca.  To create a new issue navigate to the [Issues Board](https://github.com/RJP43/LiliElbe_EngagedLearners/issues) and click on the green "New issue" button in the top-right corner.

!

[2019-02-28 20:49] Tatjanawj commented on #12
The element <encodingDesc> is also not included in our XML document. Usually this would put the text into context, which would have been helpful with this text. The foreword was written by Lili herself, which would have been interesting to know.

[2019-02-28 21:34] JackieAlfarah commented on #2
For the Danish letters, my first choice is the Lili Elbe to Maria Garland letters. I am more comfortable with HTML proofing than XML corrections.

Second option would be
Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer, HTML proofing

[2019-02-28 21:35] katebarrettmurphy commented on #2
1. German Letter 2 - XML corrections and HTML proofing
2. German Letter 1 - XML corrections and HTML proofing

[2019-02-28 21:35] alicapati commented on #2
- I would like to work on XML corrections for the Danish materials, specifically S. Thomsen to Harthern.
- If not, I would also be interested in transcription for "Vice Versa" from Voilà.
Overall, I would like to work in XML corrections.
I wouldn't mind working with @skarrow ☺️

[2019-02-28 21:36] jsteele1 commented on #2
I would like to do a project with the least amount of tech stuff. First choice: "Vice Versa" from Voila, transcription. Second option: Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer, HTML proofing.

[2019-02-28 21:36] skarrow commented on #2
1. S. Thomsen to Harthern
   - HTML proofing
2. "Vice Versa" from Voila
   - Transcription

I'd like to work with @alicapati

[2019-02-28 21:36] dpedz commented on #2
1. Lili Elbe to Maria Garland, XML corrections
2. "Vice Versa" from Voilà, fine with any task

[2019-02-28 21:36] nroyce commented on #2
I prefer to work in smaller groups due to my commute. I live in Bolingbrook so it's not easy for me commute to work closely with multiple group members of various schedules. I have no preference on who I work with but I have enjoyed working with @Katiegriggs24

My preferences in order:
1. **Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer**
   a. HTML proofing
   b. XML corrections
2. **Lili E

[2019-02-28 21:36] Katiegriggs24 commented on #2
1.Lili Elbe to Maria Danish letter with xml corrections
2. Lili Elbe to Maria Danish letter with Html Proofing

[2019-02-28 21:36] bcristiana commented on #2
I would love to work on any of the French Archive documents and be involved in any of the tasks.

[2019-02-28 21:36] ElleBromer commented on #2
I would also like to work on the Lili Elbe to Maria Garland letters and doing the XML corrections.

I would also be interested in the Hirschfeld chapter

[2019-02-28 21:37] wravindran commented on #2
i would like to be in the group of lili elbe to Maria Garland and do html proofing for my first choice.
For my second choice i would like to be in the group of lili elbe to poul knudsen for html proofing

[2019-02-28 21:37] BMiller10 commented on #2
German materials, XML or HTML proofing.

[2019-02-28 21:37] schola0208 commented on #2
1) Allatini Chapter,: XML corrections and HTML proofing of the translation (I could also do the other tasks on this chapter)
2) Hirschfeld chapter: XML corrections, HTML proofing (2 people, readers of French)

[2019-02-28 21:38] bossa12 commented on #2
1.  Vice Versa" from Voilà -Transcription
2.  Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer - XML corrections and HTML proofing

[2019-02-28 21:39] amccann2 commented on #2
1. xml corrections// letters to maria garland
2. xml corrections // thomsen to harthern

I would like to work with @kschoen3

[2019-02-28 21:39] kschoen3 commented on #2
1. Letters to Maria Garland (XML corrections)
2. S. Thomsen to Harthern (XML corrections)

I wold like to work with @amccann2

[2019-02-28 21:40] kklimek1 commented on #2
1) I would like to work on S. Thomsen to Harthern, preferably XML corrections.
2) The Allatini chapter, XML corrections.

I am flexible though, I feel comfortable with most of the tasks, so if I can't get these two, I can work on anything else available!

[2019-02-28 21:40] Samantha9899 commented on #2
German materials xml corrections and proofing

[2019-02-28 21:41] Dadelinee commented on #2
1) Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer
-xml corrections and proofing
2) Lili Elbe to Maria Garland
-xml corrections and proofing

[2019-02-28 21:43] wravindran commented on #13
This container attribute holds all the TEI metadata.

[2019-03-02 16:14] RJP43 opened #24 "Let's Discuss "Glands, Eugenics, and Rejuvenation in Man into Woman""
Each student should respond in this discussion thread after reading:

_The reading can be found on Sakai under Resources in the Required Essays folder._

**Please respond to either option # 1 or option # 2 by Monday, March 11, 5 PM.** Be prepared to discuss your responses and the essay in class on Tuesday, March 12th.

In your response please indicate the option you are responding to, and as alway

[2019-03-02 16:54] #9 closed, assigned to katebarrettmurphy, ProfPLC

[2019-03-02 16:55] #10 closed, assigned to Samantha9899, BMiller10

[2019-03-02 17:04] #11 closed, assigned to anais-turiello, jsteele1

[2019-03-02 17:08] #12 closed, assigned to bossa12, Tatjanawj

[2019-03-02 17:08] #13 closed, assigned to JackieAlfarah, wravindran

[2019-03-02 17:10] #14 closed, assigned to bcristiana, schola0208

[2019-03-02 17:12] #15 closed, assigned to nroyce, Katiegriggs24

[2019-03-02 17:14] #16 closed, assigned to Dadelinee, amandallopez

[2019-03-02 17:15] #17 closed, assigned to dpedz, ElleBromer

[2019-03-02 17:16] #18 closed, assigned to joaquindavalosponce, kklimek1

[2019-03-02 17:19] #19 closed, assigned to amccann2, kschoen3

[2019-03-02 17:21] #20 closed, assigned to tinatiehen, ekupchella

[2019-03-02 17:22] #21 closed, assigned to skarrow, elenipamboukis, alicapati

[2019-03-05 05:11] amandallopez commented on #2
1. Hirschfeld Chapter  -- XML corrections, HTML proofing
2. "Vice Versa" from Voilà -- Transcription

[2019-03-06 06:58] JackieAlfarah commented on #24
1.
-The advantage of not reading Man Into Woman as one of the “foundational moments in transgender history” is realizing “Lilly's story is not one of community, solidarity or social transformation. It is of the romance of an individual with modern medical science” (590). Some plot elements That were misconstrued so Lily can become a Transsexual ancestor for the present are the fact that in the boo

[2019-03-06 22:56] tinatiehen commented on #2
**1. Lili Elbe to Maria Garland** - XML corrections and HTML proofing
**2. Lili Elbe to Poul Knudsen and TC Thomsen to Hoyer** - XML corrections and HTML proofing

**I would like to work with @ekupchella**

[2019-03-08 05:03] dpedz commented on #24
1. According to the article, Lili is considered to be the wrong figure to be honored for today's transgender movement because she falls under the catergory of a mainstream heroine. Considering that she was a white woman, she has the privilage to access famous doctors and the luxuary to afford the surgeries. Also that her story appeals to a cisgender audience as she lacks a significant involvement

[2019-03-08 19:59] RJP43 commented on #2
We have decided project teams and will be assigning each task via assigned project team issues by class on Tuesday, 3/12! It has been a pleasure teaching all of you. I am very much looking forward to working together on individual tasks.

[2019-03-08 19:59] #2 closed, assigned to nobody

[2019-03-09 23:33] Samantha9899 commented on #24
1. The advantage of not reading Man into Woman is, as the article says, it is not one if community, solidarity, or social transformation, it is the romance between an individual and modern medical science. In other stories or versions it makes it out to be a more hopeful image trying to give the readers what they want but in the actual story it tells more of a truthful side of how Lili feels. Lili

[2019-03-11 00:08] kklimek1 commented on #24
What is the advantage, for scholarship on transgender, of not reading Man Into Woman as one of the “foundational moments in transgender history” (590)? Why is Lili the “wrong figure to be honored as a foremother of today’s transgender movement” (590)?

What is one historical fact you learned from this article that you found surprising or disturbing?

1) Lili did not see herself as part of the cont

[2019-03-11 03:20] elenipamboukis commented on #24
Responses-
1.) The advantage, for scholarship on transgender, of not reading _Man Into Woman_ as one of the "foundational moments in transgender history" is in Amin's words, "It is the romance of an individual with modern medical science," otherwise known in Amin's words as, "A mainstream heroine." The article says that _The Danish Girl_ movie portrays Lili Elbe as being a privileged white woman,

[2019-03-11 17:25] schola0208 commented on #24
#question 1
* The advantage of reading the text not as > One of the foundational moments in transgender history is that it allows for nuance, and challenges one to keep in focus what the transgender movement stands for. Reading the text as indeed one of the foundational moments in transgender history,  that history would have to be linear, and the text would have to share at least the key ideas an

[2019-03-11 18:51] Dadelinee commented on #24
<b>1. What is the advantage, for scholarship on transgender, of not reading Man Into Woman as one of the “foundational moments in transgender history” (590)? Why is Lili the “wrong figure to be honored as a foremother of today’s transgender movement” (590)?
2. What is one historical fact you learned from this article that you found surprising or disturbing?</b>

An advantage of not reading <i>Man

[2019-03-11 19:11] kschoen3 commented on #24
1. What is the advantage, for scholarship on transgender, of not reading Man Into Woman as one of the “foundational moments in transgender history” (590)?

Not using Man into Woman as a foundational moment in transgender history allows for space to be made for more marginalized trans people. This novel, in many ways, upholds normatively in gender, Western social structure, and ideas etc. If more a

[2019-03-11 21:10] tinatiehen commented on #24
**Option 1:**
1. There are a considerable amount of advantages, for the scholarship of transgender, presented in Glands, Eugenics, and Rejuvenation in Man into Woman that disregard Man into Woman as one of the “foundational moments in transgender history”. Specifically,  author Kadji Amin expresses that the novel glorifies the oddity of a scientific sex transformation. While Lili Elbe’s story mark

[2019-03-11 21:23] nroyce commented on #24
Amin is pretty clear that he believes _Man Into Woman_ this is more of a **rejuvenation** piece rather than transsexual text. The focus is more on the endocrine and physical body parts and the division of 2 people in which 1 has to die for the other to survive, rather than a being who feels suppressed in a body and gender that were assigned to them that they don't identify with.  I still believe L

[2019-03-11 21:33] bcristiana opened #25 "BCristiana_Option2"
**Option 2**
Kadji Amin wants to have his cookie and to eat it. In the 2015 movie *The Danish Girl*, based on an adaptation of Lili Elbe’s life narrative, *Man into Woman*, he sees an attempt by the mainstream media to conveniently falsify the transgender history, for both commercial and definitional purposes. To prove that this is the wrong narrative, and Lili Elbe the wrong person to inaugurate

[2019-03-11 21:40] bcristiana commented on #24
**Option 2**
Kadji Amin wants to have his cookie and to eat it. In the 2015 movie *The Danish Girl*, based on an adaptation of Lili Elbe’s life narrative, *Man into Woman*, he sees an attempt by the mainstream media to conveniently falsify the transgender history, for both commercial and definitional purposes. To prove that this is the wrong narrative, and Lili Elbe the wrong person to inaugurate

[2019-03-11 22:43] Katiegriggs24 commented on #24
**Option 1**

1.What is the advantage for scholarship on transgender, of not reading Man into Women as one of the "foundational moments in transgender history"(590)? Why is Lili the wrong figure to be honored as a foremother of today's transgender movement"(590)

The whole point of Amin writing this article is to pull away from the traditional thought that narratives like MIW are supposed to be re

[2019-03-12 02:14] alicapati commented on #24
**Option One**

**1)** As Amin discusses in his article, "Glands, Eugenics, and Rejuvenation in _Man into Woman_," Lili Elbe does not view herself as transgender, in fact, she views herself as an entity entirely separate from her male counterpart, Andreas. They are two individuals who occupy the same body. As he states, "For her part, Lili's overwhelming desire is less to be rid of a 'wrong body'

[2019-03-12 13:41] RJP43 commented on #25
Whoops. As discussed in email, the response above has been added to the correct discussion issue.

[2019-03-12 13:41] #25 closed, assigned to nobody

[2019-03-12 17:54] skarrow commented on #24
Part 1: I think the advantage of not reading Man into Woman as the
foundational moment in transgender history is recognizing the community
Lili is apart of. At the time the author of the book had to be careful of how
he might be censored, so he had to make Lili seem very different from the
rest of the transgender community. There’s even the scene within the book
where Lili feels she doesn’t fit in

[2019-03-12 18:08] ElleBromer commented on #24
1.  The advantage of not reading this as a foundational moment in transgender history is you are able to see it as it is, not as it can be romanticized.  This is not truly the story of a transgender woman or someone who fought for transgender rights, this is something completely different for someone who apparently actively reviled the community that she found herself near.  Thus she is also the w

[2019-03-12 19:11] bossa12 commented on #24
1. What is the advantage, for scholarship on transgender, of not reading Man Into Woman as one of the “foundational moments in transgender history” (590)? Why is Lili the “wrong figure to be honored as a foremother of today’s transgender movement” (590)?

- The advantage, for scholarship on transgender, of not reading Man Into Woman as one of the "foundational moments in transgender history"  is b

[2019-03-12 23:04] RJP43 commented on #24
This discussion thread is closed. Please email Dr. Caughie with questions and concerns if you forgot to post or submitted your response after 5 pm yesterday. See you all Thursday for team time!

[2019-03-12 23:04] #24 closed, assigned to nobody

[2019-03-14 16:18] RJP43 opened #26 "Lili Elbe to Maria Garland : Jackie, Katie, Wagme"
hey there @JackieAlfarah @Katiegriggs24 @wravindran 👋

Your team has been assigned the Danish-language letters from Lili Elbe to Marie Garland. As a team you will need to associate [the new project schema](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) to each of these four letters:

1. [19310616LEGarland.xml](https://github.com/RJP43/LiliElbe_EngagedLearne

[2019-03-14 16:42] RJP43 opened #27 "Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer : Adeline"
hey there @Dadelinee and @nroyce  👋

Your team has been assigned the Danish-language letters from Lili Elbe to Poul Knudsen and T. C. Thomsen to Hoyer. As a team you will need to associate [the new project schema](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) to each of these four letters:

1. [19310122LEKnudsen.xml](https://github.com/RJP43/LiliElbe_Engag

[2019-03-14 17:05] RJP43 opened #28 "S. Thomsen to Harthern : Sophie, Aliana"
hey there @skarrow and @alicapati 👋

Your team has been assigned the Danish-language letters and diary entries from S. Thomsen to Harthern. As a team you will work to combine the following XML files into a single XML file titled `19310615ThomasSHarthern_combo.xml`:

1.  [19310615ThomasSHarthern.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/Danish_

[2019-03-14 17:27] RJP43 opened #29 "Politiken : Unassigned"
hello 👋

Your team has been assigned the Danish-language _Politiken_ articles and Lili's Obituary. This is marked as your second task while @zothman ties up loose-ends with her encoding. As a team you will need to associate [the new project schema](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) to each of these XML files:

**_coming soon_**
1. [Politiken_19

[2019-03-14 17:36] nroyce commented on #27
Hi @Dadelinee! Let’s chat today in class about how to tackle this one together so we don’t do double work or distribute unevenly. My name is Nichole and I sit in the front row, middle of the classroom and I’m rocking purple hair currently. :purple_heart: :metal:

[2019-03-14 17:36] RJP43 opened #30 "German Letters and Foreword : Samantha"
hey there @Samantha9899 👋

Your team has been assigned the German-language letters 1 and 2 as well as Lili's Forword. As a team you will need to associate [the new project schema](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) to each of these XML files:

1. [German_letter1.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archi

[2019-03-14 17:59] RJP43 opened #31 "Allatini chapter : Schola, Cristiana, Kat, Eleni"
hey there @schola0208, @bcristiana, @kklimek1, and @elenipamboukis 👋

Your team has been assigned the French-language Allatini chapter. As a team, you will create one file containing both the already-encoded translation and the to-be-encoded original transcription of this text. This text is rather unique so be sure to reach out via this issue if you hit any snags. Simply tag me - @RJP43 - and add

[2019-03-14 18:24] RJP43 opened #32 "Hirschfeld chapter : Amanda"
hey there @joaquindavalosponce, @amandallopez, and @ElleBromer  👋

Your team has been assigned the French-language Hirschfeld chapter.  As a team you will need to associate [the new project schema](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) to [HirschfeldChapter.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMater

[2019-03-14 18:43] RJP43 opened #33 ""Vice Versa" from Voilà : Jade, Ran, Danica, Elle"
hey there @jsteele1, @bossa12, @dpedz, and @ElleBromer 👋

_This issue was re-worked on April 6th to invite Elle on to this project team and to correct the transcription process. **Please only continue working on transcriptions after re-reading this issue!**_

Your team has been assigned the French-language "Vice Versa" issues from _Voilà_. As a team, you will transcribe the original text from the

[2019-03-14 18:46] RJP43 opened #34 "Collation : Tatjana, Anais, Tina, Elizabeth"
hey there @Tatjanawj, @anais-turiello, @tinatiehen, @ekupchella 👋

Your teams have been assigned to collation work. Materials you will need are on Sakai/Resources/Project Assignments/Collation Work.

@tinatiehen, @ekupchella: You will fill out and proof the spreadsheets on your assigned chapters according to the samples and Thursday’s class lesson (3/14). You will need the collated versions of A1

[2019-03-14 19:32] RJP43 commented on #34
# @RJP43's In-Class Notes on Collation

A collation is an ordered, systematic comparison of various versions or "witnesses" of a single work.

For _Man Into Woman_, we have six witnesses: A1, B1, D1, G1, TS, TR

Base Text: All collations have a base text (a text the others are compared to); For MIW our base text is A1.

Possible ways to collate MIW: Collation by Paragraph, Collation by scene, Coll

[2019-03-14 23:35] dpedz commented on #33
Hey @bossa12

So @jsteele1 and I have talked in class how we're gonna tackle the project. We decided that everyone will do 2 images each and then we will work on the last image together.

**Some background info**
 We currently have 2 issues available to us and we will eventually have 4 total. Issue 1 has 5 images and Issue 2 has 2 images.

Please pick out 2 images of your choice and state what iss

[2019-03-14 23:36] dpedz commented on #33
I'll also be doing images 11 and 12 from Issue 1.

**Edit** I'll be doing image 14 from Issue 2.

[2019-03-15 01:22] RJP43 commented on #33
:eyes: @dpedz whichever suits you and your team is fine with me. Please include all links on this issue board to any Google hosted documents and give share access to me using my gmail (listed above).

[2019-03-15 01:36] kklimek1 commented on #31
I'd be okay with doing the second task, with the encoding and transcribing!

[2019-03-15 05:21] bcristiana commented on #31
I find interesting both tasks, but I would rather join @kklimek1 in transcribing and encoding--it would be a great way to refresh my French. Whenever you will see this, let me know, @kklimek1 , @schola0208  and @elenipamboukis, if is OK with you.

[2019-03-15 15:31] RJP43 commented on #31
:eyes: @bcristiana be careful not to close your team's issue when commenting. Please click the green comment button to post your responses. Thanks :+1:

[2019-03-15 17:37] RJP43 commented on #31
❗️ ❣️  hey team  @schola0208, @bcristiana, @kklimek1, @elenipamboukis

Just popping in to let you know @ProfPLC had me add Anne's translation to your project team's folder. Here is the quick link to the PDF - [H l ne Allatini Il et Elle He and She from Mosa ques 1939.pdf](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/643d7b289651c87a48e89f3cfd7c9b5b2b716cb2/ProjectDocs/archivalMaterials/F

[2019-03-17 20:00] elenipamboukis commented on #31
@bcristiana that is okay with me! Hey team, I would prefer to work on the first task!

[2019-03-17 20:14] schola0208 commented on #31
@bcristiana @elenipamboukis @kklimek1 I'm happy either way. I would do whatever task is left on the list

[2019-03-17 21:12] ProfPLC commented on #31
Dear Allatini team,
The translation by Dr. Anne Callahan that Rebecca sent you in a previous comment is a revision of the translation that was encoded last semester.  So those on task 1 will need to revise the translation, re-encoding where necessary before associating the schema.  This is work you must do first. Rebecca and I can meet with you to go over this task.

[2019-03-19 05:32] jsteele1 commented on #33
I will be working on images 14 and 15 from Issue 1 and Image 15 from Issue 2

[2019-03-19 06:16] RJP43 commented on #33
:eyes: Will your team be using one Google doc for each issue? That probably makes the most sense. Please provide links here on this issue! I also encourage someone on your team to regularly download a .docx version of your transcription files and upload them into your team's [ViceVersa Folder](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/French_archiv

[2019-03-19 06:22] RJP43 commented on #34
:eyes: Hey team, I have created a folder for you to upload backup copies of the collation  spreadsheets into - [collationMaterials](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/collationMaterials). While Google offers adequate version control and space for collaboration we on the LEDA project practice the model of [Lots of Copies Keep Stuff Safe (LOCKSS)](https://www2.

[2019-03-19 15:15] dpedz commented on #33
@RJP43 We haven't talked about that yet, but I'll discuss it with the others when we have team time.

[2019-03-19 19:07] RJP43 commented on #29
:eyes: **Quick Update!** I have linked above the two articles @zothman recently finished encoding.

[2019-03-19 19:12] RJP43 commented on #28
:eyes: @skarrow and @alicapati let's meet today during team time to discuss the uniqueness of this letter.

[2019-03-19 19:41] JackieAlfarah commented on #26
@katiegriggs24, @wravindran and I decided that I would do letter one, Wagme will do letter 2 and Katie will do letter 3. We will then come together and do letter 4.

[2019-03-19 19:41] elenipamboukis commented on #31
Class March 19-
@schola0208 and I are doing assignment 1, we will meet together and separate our work
@bcristiana and @kklimek1 are doing assignment 2, Christiana is doing first half of pictures and Kat is doing that second half

[2019-03-19 19:42] bossa12 commented on #33
I'll do the two images from issue 3 and image 10 from issue1

[2019-03-19 19:50] bossa12 commented on #33
my gmail: ranzh.410@gmail.com

[2019-03-19 19:55] skarrow commented on #28
We're planning on meeting all together as a group next Wednesday the 27th in the IC at 11ish @RJP43

Tomorrow @skarrow and @alicapati are planning on meeting around 11:20ish in the IC to get started the best we can

[2019-03-19 20:00] dpedz commented on #33
@RJP43, So @bossa12 and I talked in class, we decided to do a main google doc and combine all of our transcriptions per issue. Those documents have been shared with you!

@jsteele1 Since there is a new issue added, there are 9 images in total. Please pick one more picture and comment your gmail down below so I can add you to the documents.

**For everyone**
When you're writing your transcriptions,

[2019-03-19 20:17] elenipamboukis commented on #31
@RJP43 Schola and I found that this error: `key="madrid">Madrid</placeName>` is not valid. We looked Madrid up in the prosopography and the key does not exist as a location name.

[2019-03-19 20:18] Samantha9899 commented on #30
I have associated the new schema with German letter 1 and uploaded it to the files.

[2019-03-19 20:21] alicapati commented on #28
![Screen Shot 2019-03-19 at 3 19 56 PM](https://user-images.githubusercontent.com/47360918/54639095-917e5b00-4a5a-11e9-9ceb-8dad84b5dd37.png)

@RJP43, for this XML file, are we also combining it into the large document, or is it going to be a separate file that we have to associate the schema with ❔

[2019-03-19 21:04] BMiller10 commented on #30
@RJP43 are we going to ever work on German Letter 3?

[2019-03-19 21:04] JackieAlfarah commented on #26
I associated the schema for letters 1 and 4 and uploaded them to the files. @RJP43 @wravindran @Katiegriggs24

[2019-03-19 21:20] Samantha9899 commented on #30
For the German letter 1 one of the errors is `<resp>Translation on <date when="?"> January to March 2018</date> by</resp>` how would we put the date in the key since it is from January to March and not one specific day? @RJP43 @katebarrettmurphy

[2019-03-19 21:43] BMiller10 commented on #30
In the element `type=""`, it only allows for `original` and `translation`. We are not sure how to apply this to paragraph distinctions, like the header or the body.

[2019-03-19 22:02] RJP43 commented on #28
@alicapati Your team has two XML files that will need schema association and will be eventually turned into two separate HTML pages (for proofing). The first file is the combo file bringing together the three numbered files in my first comment. The second file is the [19311221ThomsenSHarthern.xml](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/Danish_ar

[2019-03-19 22:03] RJP43 commented on #28
:eyes: @skarrow, @alicapati - Do you want me to schedule to join you during your meetings in the IC tomorrow and next week?

[2019-03-19 22:13] RJP43 commented on #33
Here are the Google Doc links shared with me:
[ViceVersa_Issue1](https://docs.google.com/document/d/1sP4DY6lqbrCNcNPCEZd8sFStZ295o8fjA_oTkoDdOEw/edit?usp=sharing)
[ViceVersa_Issue2](https://docs.google.com/document/d/1YNDriY9_GEbaCSCXJlk5ZfAAhTXApPLGDdvjltTIBig/edit?usp=sharing)
[ViceVersa_Issue3](https://docs.google.com/document/d/1rvPMf2WsIUjqZP_vxHUvnU1aXkp1gf9X5DQDOSNBw4o/edit?usp=sharing)

Th

[2019-03-19 22:16] RJP43 commented on #31
@elenipamboukis I will add it to the prosopography. Thanks! 👍  Please leave the encoding in the XML file and when the next schema release goes out in a few days the error will disappear.

[2019-03-20 06:17] Dadelinee commented on #27
@RJP43 I'm on the last error and I ran into a little problem. I tried following the letter structural encoding and I'm a little confused as to what this specific error means. Did I close an element in the wrong place? I noticed one of the divides has a comment that says "end closer original" but putting the closer element there fires up another error due to incorrect form I believe.
![Screenshot (

[2019-03-20 12:42] RJP43 commented on #27
:eyes: @dadelinee upload your latest file and I will pull it in and see what the issue is in the hierarchy from my computer. Just a smidge hard to see from the screenshot. THANKS.

[2019-03-20 13:00] Dadelinee commented on #27
@RJP43 Alright I uploaded it!

[2019-03-20 16:51] skarrow commented on #28
@RJP43 if you could come next week that would be great!

[2019-03-20 16:59] RJP43 commented on #28
👀 @skarrow, @alicapati - No problem! I have reserved IC study room 218 from 11-1 on Wednesday, 3/27. I imagine we won't need the full two hours but figured best to reserve the space as long as possible. See you all then if not sooner.  👋 👍

As a reminder, I will also be available at the IC reference desk today (3/21) and every Thursday from 9 AM to 1 PM and then from 1 PM until class time in IC ro

[2019-03-20 17:16] RJP43 commented on #27
:eyes: Thanks @Dadelinee. I have gone ahead and corrected your file. I commented on the correction that needed to be made here - https://github.com/RJP43/LiliElbe_EngagedLearners/commit/d5206c53baeafad21cea5c0085a97b7078a617aa#r32846617. Great work so far! 🎉 👍

[2019-03-20 17:19] RJP43 commented on #32
:eyes: @joaquindavalosponce, @amandallopez, and @ElleBromer please update your issue with your team's task workflow before the weekend. Also, it looks like @joaquindavalosponce has validated the XML with the new schema and made the corrections. Before transforming, I ask that one of you please go through the file and verify that the structure matches the book chapter template and the translation t

[2019-03-20 17:59] nroyce commented on #27
Hey @Dadelinee (and @ProfPLC and @RJP43)!

I apologize for missing class yesterday.  I had oral surgery :mask: :hurtrealbad: yesterday and was advised to take my meds and not drive anywhere for the day.  I hadn't anticipated that so I apologize.  Adeline, please let me know if you have assigned a portion of the assignment for me to complete since I was absent.  Otherwise I'll just have to go in an

[2019-03-20 19:20] Dadelinee commented on #27
@nroyce That's okay! Sorry, I meant to put my idea here and then I forgot to once I started doing some other homework. Since I started the first letter, if you want to do the last two and I'll finish the first letter and do the second. Then once we're done with the .xml portion we can re-upload them here and let Rebecca know we're ready to move on to the HTML part!

[2019-03-20 21:34] nroyce commented on #27
@dadelinee Sounds like a plan!

[2019-03-21 00:35] Katiegriggs24 commented on #26
I assiciated the new schema to letter 3 and uploaded it. @RJP43  @wravindran @JackieAlfarah

[2019-03-21 00:50] RJP43 commented on #26
:eyes:  @JackieAlfarah @Katiegriggs24 @wravindran I see some faulty XML coming in. Please be sure you are not adding any XML elements not seen in our [teiHeader template](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/TEIHeader_Template.xml) or [encoding guidelines](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md). Let's tr

[2019-03-21 00:59] RJP43 opened #35 "TEI Header, Prosopography, Schema, and Encoding Guidelines - UPDATES!"
:eyes: @zothman @Tatjanawj @JackieAlfarah @Dadelinee @katebarrettmurphy @bcristiana @ElleBromer @alicapati @joaquindavalosponce @Katiegriggs24 @schola0208 @skarrow @kklimek1 @ekupchella @amandallopez @amccann2 @BMiller10 @elenipamboukis @dpedz @wravindran @Samantha9899 @nroyce @kschoen3 @jsteele1 @tinatiehen @anais-turiello @bossa12 @kejcat 👀

Hello Everyone! 👋 This issue has all of the quick link

[2019-03-21 09:00] RJP43 commented on #27
📆 If either of you need to meet up with me, I will be at the reference desk on the second floor of the IC from 9 AM to 1 PM today (3/21) and then I will be holding office hours in IC study room #219 from 1 PM until class time. I also have availability Friday morning before 1 PM as well as Monday before 11 AM, noon until 2, or after 3 PM. 👋 Just let me know.

[2019-03-21 09:08] RJP43 commented on #30
:eyes: hi team @katebarrettmurphy, @Samantha9899, and @BMiller10 👋

There are several questions posed above and some I worry will be too confusing to answer over this issue or email. I would like for your team or each of you individually to meet with me as soon as possible to get you back on track.

📆 I will be at the reference desk on the second floor of the IC from 9 AM to 1 PM today (3/21) and

[2019-03-21 15:47] JackieAlfarah commented on #26
Is the faulty XML on letters 1 or 4?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Rebecca Parker <notifications@github.com>
Sent: Wednesday, March 20, 2019 7:50 PM
To: RJP43/LiliElbe_EngagedLearners
Cc: Alfarah, Jackie; Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] Lili Elbe to Maria Garland : Jackie, Katie, Wagme (#26)

👀 @JackieAlfarah<https://githu

[2019-03-21 16:19] Dadelinee commented on #27
@RJP43 Hey Rebecca! I won't be able to come to office hours today because I already have another appointment with another professor but I think my only confusion is adding in the `<signed>` element because each time I do it says the error "element not allowed here." Other than that, I'm pretty sure I have all the other errors fixed. But if you were able to figure out how to add the <signed> elemen

[2019-03-21 16:58] jsteele1 commented on #33
My email is jadesteele7@gmail.com

[2019-03-21 17:34] elenipamboukis commented on #31
Today March 21 from 11:00-1:00, Eleni & Schola: Meet together updating translation by reading aloud together and comparing it, From line 1-500 in the XML and page 124-142 in the updated translation.

[2019-03-21 19:04] RJP43 commented on #27
:eyes: @Dadelinee I just realized I was confused about your question because your comments were missing the tic marks around your `<signed>` element. So I didn't know what element you were talking about. I have added the tics into your comment above.

As for the issue you were having I have implemented the correct encoding in your file (so simply re-download). Here is the correct encoding for your

[2019-03-21 19:12] kklimek1 commented on #31
@RJP43 Hi Rebecca! I'm attempting to encode my half of the pictures, but I've hit a snag. The pages all have "Mosaiques" at the top of the page, and I'm not sure how to incorportate that into the XML file. Would I be encoding that as `<pb style="heading" rend="___"/>` ? Thanks!

[2019-03-21 19:13] RJP43 commented on #26
:eyes: @JackieAlfarah There is XML in all of the files that is wonky. I imagine you are all still correcting the schema validation errors, but I am worried there still might be some confusion. Anyone checking schema validation errors must correctly have the `.rng` schema file saved to their local computer within the same folder as the XML being validated and as a true `.rng` file.  I guess what I

[2019-03-21 19:20] RJP43 commented on #31
:eyes: @kklimek1 Huzzah, you are correct. 🎉 Well done finding the correct encoding in the guidelines. Now for the `rend` attribute value paste the exact transcription/translation of that heading text. So your encoding for those should look like this:
`<pb style="heading" rend="Mosaïques"/>`  👍

[2019-03-21 19:28] Dadelinee commented on #27
@RJP43 Ohhh okay that makes sense, sorry about that. I appreciate it, thank you!

[2019-03-21 22:43] bcristiana commented on #31
@RJP43 , good evening! I tried to send you my two `Mozaiques`, 10 and 11, and wonder if you've been able to open them. I don't know how otherwise to show you my work without uploading it. Do you have any time tomorrow, after 12.30? You could see what I've done and tell me if I am on the correct path.

[2019-03-21 23:18] Dadelinee commented on #27
Hey @RJP43 I just uploaded the 19310131LEKnudsen.xml letter with the new associated schema and most of the fixed .xml. Although I ran into 2 problems. 1) I tried fixing the attribute value for "Loulou Lassen" and when I checked the prosopography, the value was "louLou" and that's how it's typed in the document, however, it still fires as an error in oxygen. I can't really find what's wrong with th

[2019-03-22 19:15] RJP43 commented on #31
:eyes: @bcristiana You will need to upload your materials to GitHub not only so I can see your progress but so your teammates can too. We can schedule a meeting for Monday or Tuesday to go over how to upload and to check your progress if you like. Unfortunately, I do not have any availability today to meet. 📆 For Monday, I am open Monday before 11 AM or between noon and 2 PM. For Tuesday, I can me

[2019-03-22 19:18] kklimek1 commented on #31
@RJP43
Would you mind meeting with me around 1:00 on Tuesday? Similarly to @bcristiana I want to make sure that I'm doing everything correctly!

[2019-03-22 19:37] RJP43 commented on #31
:eyes: Sure thing @kklimek1! I have you on [my schedule](https://calendar.google.com/calendar/embed?src=a72eb2hjpuf5g45dpdo8t1oer0%40group.calendar.google.com&ctz=America%2FChicago) for 1 PM on Tuesday (3/26) in IC Study Room 217.

[2019-03-22 20:04] bcristiana commented on #31
@RJP43 , could you meet me Monday? My class starts at 11 am.

[2019-03-22 22:33] RJP43 commented on #31
:eyes: @bcristiana Monday is fine. Do you want to meet before your 11 AM  class or after? If after, what time in my noon to two slot works best for you?

[2019-03-23 03:31] bcristiana commented on #31
@RJP43 , thank you.  The class ends at 12.40, so I could come see you whenever it is more convenient for you: either before 11 am or after 12.40 pm.

[2019-03-23 19:01] bcristiana commented on #31
@RJP43 , if Monday is still fine, where do I meet you and when?

[2019-03-24 01:03] RJP43 commented on #31
:eyes: @bcristiana let's meet at 12:45ish in IC Study Room 214. 📆 I have added you to [my office hours schedule](https://calendar.google.com/event?action=TEMPLATE&tmeid=NmVsYW5vOTRpM2k3cWFycW43OHBqdG1vcDQgYTcyZWIyaGpwdWY1ZzQ1ZHBkbzh0MW9lcjBAZw&tmsrc=a72eb2hjpuf5g45dpdo8t1oer0%40group.calendar.google.com). I have reserved 214 for the majority of the afternoon if others also need to meet.

[2019-03-24 01:27] bcristiana commented on #31
@RJP43 , thank you. I will be seeing you Monday.

[2019-03-24 19:00] elenipamboukis commented on #31
@RJP43 Schola and I just finished comparing the two translations and fixing what was missing/ incorrect in the XML. We found some things that didn't necessarily make sense when we were correcting the XML. For example, the XML on line 833 said, "like all or almost all operations," which made sense to us rather than the corrected text which says on page 137, "like almost all or almost all operations

[2019-03-24 20:37] RJP43 commented on #31
:eyes: @elenipamboukis please update your file by uploading your latest XML to your team's folder over top of the old XML so I can better understand where you are in the process of completing your team's tasks. I have recently updated the prosop. and schema to include the missing Madrid key and the most recent file in your folder suggests you have already associated the new schema to the XML prior

[2019-03-24 21:22] RJP43 commented on #27
:eyes: @Dadelinee do you have any availability to meet this week? 📆 I am available before 1 PM on Tuesday (3/26) and after noon (12 PM) on Wednesday (3/27). It may be that we need to add something to the schema to handle postscripts and upside down text, but I would like to review the files with you to be sure. In your above comment you say the text is underlined but the encoding says "upsideDown"

[2019-03-24 21:25] RJP43 commented on #30
👀 hi team @katebarrettmurphy, @Samantha9899, and @BMiller10 👋 Please let me know when one or all of you can meet. 📆 I have availability before 1 PM on Tuesday (3/26) and after noon (12 PM) on Wednesday (3/27). I will also be available at the reference desk on the second floor of the IC from 9 AM to 1 PM on Thursday (3/28).

[2019-03-25 17:47] Samantha9899 commented on #30
@RJP43 @BMiller10 @katebarrettmurphy Tuesdays and Thursdays I don't get out of class until 12:45 so I don't think that'll work for me and Wednesday I will be done with class at 2pm so if you're available I can meet.

[2019-03-25 20:22] RJP43 commented on #30
👀 @Samantha9899 I can meet you after your 2 PM class. I have reserved IC study room 218 from 11 AM to 3 PM on Wednesday (3/27). I have put you in for the 2:15 slot on [my office hours calendar](http://bit.ly/2MdASUn). See you there!

[2019-03-25 22:18] skarrow commented on #28
@RJP43 @alicapati and I noticed there is not attribute ref for Matthew Gallagher (someone who prepared out photos) in the prosopography

[2019-03-25 22:31] skarrow commented on #28
Also, we were wondering about Marianne Olholm prosopography ref key as well.

[2019-03-25 22:34] skarrow commented on #28
Just kidding... I think we're doing it wrong...

[2019-03-25 22:47] skarrow commented on #28
we still don't know Marianne Olholm's, Taylor Brown's, Nikolaus Wasomen's prospography ref key. We took the old TEI header and associated the new LEDA_ODD.rng schema, and corrected what we could. @alicapati uploaded the new TEI header to the document awaiting proofing.

[2019-03-26 00:34] RJP43 commented on #26
@JackieAlfarah let's meet at noon tomorrow in IC 217.

[2019-03-26 00:39] JackieAlfarah commented on #26
Sounds good. I have a class at 1, so I can stay until 12:40

[2019-03-26 00:58] bcristiana commented on #31
@RJP43  and team, I gladly let you know that I uploaded my contribution to the task. There are still two pages--the title page and the cover of the memoir--that I didn't upload: the first, because it has to precede one of @kklimek1 's pages, and the latter, because I need suggestions about how to encode it.

[2019-03-26 04:21] bcristiana commented on #31
@RJP43 , thank you for your help! I was so relieved to finish this part of the project, that I forgot to state the obvious: your help. So thank you again!

[2019-03-26 04:36] Dadelinee commented on #27
@RJP43 Sorry for late reply! Tomorrow (26th) I have an exam at 1pm so I might be spending the morning studying but I should be good to meet Wednesday afternoon since I have a lot of free time then.

[2019-03-26 13:25] RJP43 commented on #27
:eyes: @Dadelinee ... no worries and best of luck with your exam! I have reserved IC study room 218 from 11 AM to 3 PM. Other learners are stopping by at 11 and at 2:15ish so I should be open from noon to 2 PM if you want to come by. Let me know when I should expect you. If ya need to meet after 3 PM I can probably do that too but will need to reserve another room so just let me know. :+1:

[2019-03-26 13:43] RJP43 commented on #35
## TEI Header Information Spreadsheet

Here is the link to a spreadsheet with teiHeader information for LEDA supplemental materials - https://docs.google.com/spreadsheets/d/1yrAgk_F5xjuH9PuGPC4IcQKpynV04X9tASpehm_9-vQ/edit?usp=drivesdk. This spreadsheet should only be edited by the project manager, @ProfPLC, and me.

**All encoders of supplemental materials and engaged learners correcting `<teiHea

[2019-03-26 13:47] RJP43 commented on #35
## Referencing LEDA Team Members

As mentioned in the [teiHeader Lesson](https://github.com/RJP43/LiliElbe_EngagedLearners/wiki/Capturing-Metadata), each person on the project team has a special ID (including you as an encoder). These IDs should be used in the blank ref attribute-values of the teiHeader and as source attribute values in [editor/translator comments _(as mentioned in the guidelines)

[2019-03-26 16:27] JackieAlfarah commented on #26
Hey Rebecca, what building is ic 217 in? I just transferred to Loyola this semester so I’m not sure of all the building names yet lol

[2019-03-26 16:32] katebarrettmurphy commented on #30
I can meet there at 3ish if you guys will still be around. @Samantha9899 @RJP43

[2019-03-26 16:50] RJP43 commented on #26
@JackieAlfarah the information commons is the big glass building attached to the library. Come in the front doors, using your Loyola ID, and up the stairs (or the elevator to the left). On the second floor, IC 217 is in the far right corner by the lake. I am here now so you will see me when you come around the corner towards classroom 216.

[2019-03-26 16:57] JackieAlfarah commented on #26
Ok I’m coming now

[2019-03-26 17:03] RJP43 commented on #30
:eyes: @katebarrettmurphy I have extended my office hours to be available until 4 PM 📆 so that we can have time to meet. Thanks for responding!! 👍  See you tomorrow!

[2019-03-26 17:16] RJP43 commented on #35
## Encoding Guidelines
When correcting XML, after schema association, please refer to our [encoding guidelines](
https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md). Because this file is written in markdown (thus formatted to be viewed best in GitHub) and being updated fairly regularly I recommend you reference the guidelines directly on GitHub and do n

[2019-03-26 17:42] Dadelinee commented on #27
@RJP43 Thanks! And I should be good to meet at around 12:30 since my class gets out around 12:20 tomorrow (27th)

[2019-03-26 18:44] kklimek1 commented on #31
@RJP43 Thank you for meeting with me! As I was encoding, I stumbled upon "Marcus Hierschfeld" in the text, but in the prosopography there was only `<persName>Magnus Hirschfeld</persName>`.

[2019-03-26 18:56] RJP43 commented on #31
:eyes: @kklimek1 This is one where I wonder if this is a spelling error on Allatini's part. Is there any information in the surrounding text indicating Marcus is of relation to Magnus or does it seem Allatini is actually talking about Magnus? Might be worthwhile to pose the question to @ProfPLC before/after class: Does Magnus have a brother Marcus? Is Marcus an alternate name for Magnus?

Please r

[2019-03-26 19:01] RJP43 commented on #31
:eyes: @kklimek1 @ProfPLC Also we will want to take note of the different spellings of the last name. Is this just how the French would write Hirschfeld or is this an even bigger indicator that Allatini botched Magnus Hirschfeld's name?

[2019-03-26 19:09] ProfPLC commented on #31
Marcus is a mistake, this is Magnus Hirschfeld and should be encoded as such. Do you know if Marcus is in the original? I believe it's Allatini's mistake but we want to make sure it's not the translator's.

[2019-03-26 19:24] JackieAlfarah commented on #26
Hey, @Katiegriggs24 @wravindran. I met with Rebecca today to discuss the XML letter 1 in regards to errors that were firing on Oxygen, along with the next steps for the project. If you guys have any questions, I will try my best to answer. If i am not sure how to answer, I encourage scheduling a time during Rebecca's office hours to catch up and resolve any ongoing issues. Personally speaking, it

[2019-03-26 19:33] RJP43 commented on #35
## Prosopography Updates
When adding key IDs to people and places in LEDA XML files please refer to our [prosopography index](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_Prosopography.xml). Because this file is being updated fairly regularly I recommend you reference the prosopography directly on GitHub and do not keep a copy on your computer that will get quickl

[2019-03-26 19:52] RJP43 commented on #28
:eyes: @skarrow I hope I answered your inquiries regarding team member IDs here on the issue #35 regarding the project doc updates - https://github.com/RJP43/LiliElbe_EngagedLearners/issues/35#issuecomment-476646163.

We can take a closer look at the updated TEI header @alicapati uploaded when we meet tomorrow at 11 AM in IC 218. The following are my first reactions to the files uploaded (but agai

[2019-03-26 20:06] wravindran commented on #26
I have uploaded the xml with the associated schema for 2

[2019-03-26 20:09] JackieAlfarah commented on #26
![Screen Shot 2019-03-26 at 3 06 44 PM](https://user-images.githubusercontent.com/47154947/55029737-d5341000-4fd8-11e9-9977-f758c822b522.png)  hey @RJP43 this salutations error came back up. I tried using the Letters Encoding Guidelines, but the error keeps firing. What could i do to correct it? We worked on one just like this earlier but I do not remember if we changed it to "salute"
Thanks!

[2019-03-26 20:20] joaquindavalosponce commented on #32
@RJP43 I have been working so that the structure of the translation matches the french version. Do I have to upload this new corrected word document to the chapter file?

[2019-03-26 20:25] RJP43 commented on #35
## Working with the Project Schema

The project schema - [`LEDA_ODD.rng`](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/LEDA_ODD.rng) - is being updated regularly; therefore, it is important that every encoder downloads or pulls (if using the command line/terminal) the schema to their local computer at the start of every work session.  When downloading the schema please

[2019-03-26 20:28] elenipamboukis commented on #31
@RJP43 Schola and I have updated our XML document with your new schema, and have corrected all errors in the document besides the Frauenkilink place key because we do not know which of they four keys in the pros. to use for it.

[2019-03-26 20:29] RJP43 commented on #32
@joaquindavalosponce Yes, please upload any changed documents to your team's folder.

❗️ TEAM, ❗️ it is important for your entire team to be working on these tasks together. @amandallopez and @ElleBromer please update me on this issue with what work you are doing. If it turns out this work is better suited for just one person we can move each of you to another text/group of texts while @joaquindav

[2019-03-26 20:30] joaquindavalosponce commented on #32
Oh we are working on this together on class right now! Sorry for not being clear @RJP43

[2019-03-26 20:31] joaquindavalosponce commented on #32
@RJP43 We just uploaded the new changed document to our team's folder

[2019-03-26 20:32] Samantha9899 commented on #30
I have associated the schema to the Lili forward and uploaded it.

[2019-03-26 20:32] joaquindavalosponce commented on #32
@RJP43 When are you available to meet with us to clarify our doubts?

[2019-03-26 20:35] kklimek1 commented on #31
Today in class @bcristiana and I realized that there was a little bit of a miscommunication. We ended up having some overlap in the facsimile images that we transcribed and encoded. So while I finish up the images 28 through 41, Cristiana will finish images 5 through 9. Once we both finish up, I'll be taking both of our XML documents and turning them into one file.

[2019-03-26 20:38] amandallopez commented on #32
Hi, @RJP43! We have been utilizing our class time to map out what needs to be completed and how we want to divvy up the work. However, there is a bit of confusion on proofing the HTML and utilizing Hypothesis to do so. Could you clarify this process for us a bit? Perhaps a meeting won't be necessary, but we are available throughout the week if we still find ourselves amidst confusion. Thank you!

[2019-03-26 20:38] RJP43 commented on #32
:eyes: @joaquindavalosponce @amandallopez @ElleBromer OKAY! As you continue to work on this text as a team please let me know when you have corrected the schema validation errors and the `<teiHeader>` according to my suggestions laid out in issue #35. Once this is done your file should be ready for HTML transformation so you will assign the issue label (described in the very first comment on this

[2019-03-26 20:39] schola0208 commented on #31
@RJP43 , we figured out the Frauenkilink key, with the help of @ProfPLC , and we figured out the translation issues with her as well. @elenipamboukis is uploading the new corrected xml file. I'm adding the transformation ready tag

[2019-03-26 20:43] schola0208 commented on #31
the transformation ready tag applies to only @elenipamboukis and @schola0208

[2019-03-26 20:46] RJP43 commented on #26
:eyes: @JackieAlfarah remember the entire `<p>` element and the style attribute-value pair get removed in place for the `<salute>` element. Reference our changes to the translation div and [this section of the encoding guidelines](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md#letters). Please let me know if you need further clarification.

[2019-03-27 15:08] kklimek1 commented on #31
@RJP43 I'm still a little confused on how I do the persName element around certain people in the document. For example Professor W., in the prosopography, this is what I'm looking at: `  <person xml:id="warnekros" source="historical" synch="#kreutz">`
               `<persName>Kurt Warnekros</persName>`
               `<persName>Warnekros</persName>`
               `<persName>Professor Warnekros</

[2019-03-27 15:15] kklimek1 commented on #31
Actually I think I figured it out, would it look like this: `<persName key="warnekros">professeur W.<persName/>`?

[2019-03-27 16:01] RJP43 commented on #31
:eyes: @kklimek1 you got it!

[2019-03-27 20:07] katebarrettmurphy commented on #30
Hi, @RJP43 I am not going to be able to meet anymore because I'm getting back later to campus than I expected and also forgot about an interview I have at 5:15 pm today. I am so sorry and just wanted to let you know, so you weren't waiting up for me.

[2019-03-27 20:07] RJP43 commented on #30
:eyes: @katebarrettmurphy okay thanks for letting me know. I am worried about the progress on your team's tasks and I think it is only fair to @Samantha9899 for you and @BMiller10 to find a time to meet with me individually before your next in-class team time. @Samantha9899 has made some significant progress for your team on German Letter 1 and Lili's Foreword. I asked her to hold off on making an

[2019-03-27 20:21] RJP43 opened #36 "XSLT assistance outreach -- arbitrary attributes added"
**Issue:**
at `//*` in output file - `A1_paranumber.xml` - there are arbitrary attributes added that are not on the `descendant::*` elements of the input file - `A1.xml`.

**Help request:**
Is this a namespace related issue? How do I suppress these auto/default attributes from appearing after running my `numberingParagraphs_MIW_A1andB1.xsl` (a TEI XML to TEI XML identity transform)?

Files are in

[2019-03-28 10:47] bcristiana commented on #31
Hi, @kklimek1, team and @RJP43 , I finished encoding the facsimiles 5-9 and added them to the final Mozaiques_bc.xml, as well as the comments about facsimiles 1 and 2. Now I need to remember how to upload the final version of the Mozaiques_bc.xml.

[2019-03-28 10:56] bcristiana opened #37 "Lili's IDs in Allatini"
@RJP43 , hi! This is to remind you that, in Allatini chapter, Lili is consistently referred to as  "Lily" and, at least once, as "Lily Wegener". Also, I need instructions about how to encode to manuscript's cover page. Hopefully, this is the right way to do it.

[2019-03-28 11:03] bcristiana commented on #31
@RJP43 , I tried to remind you about Lili's French IDs and I am certain that I have attached the `help wanted` label to the wrong thing, so that there is a `new issue` assigned to you and, somehow, to myself (had I known how to attach emojis, I would have put something here).

[2019-03-28 16:27] RJP43 commented on #35
👀 @zothman @Tatjanawj @JackieAlfarah @Dadelinee @katebarrettmurphy @bcristiana @ElleBromer @alicapati @joaquindavalosponce @Katiegriggs24 @schola0208 @skarrow @kklimek1 @ekupchella @amandallopez @BMiller10 @elenipamboukis @dpedz @wravindran @Samantha9899 @jsteele1 @tinatiehen @anais-turiello @bossa12 @kejcat 👀

Hi everyone! 👋 I hope your second-half of the semester is going well. I wanted to bring

[2019-03-28 16:28] RJP43 commented on #31
@bcristiana 👀 🎉 thank you so much for creating a new issue for the couple of specialized items you need help with I will go ahead and answer you on that issue - #37. Seriously, well done with the label and everything - _that is a perfect example of what to do_!  💟

As for getting your file into your team folder (so @kklimek1 can reference it and the two of you can move forward with combining your

[2019-03-28 18:00] RJP43 commented on #36
@ebeshero @djbpitt @wendellpiez -- Sorry to bother you all during this busy part of the semester/year, but if you get a chance to look at this I would greatly appreciate any advice. Thanks!

[2019-03-28 18:03] djbpitt commented on #36
@RJP43 I think this might be <https://www.oxygenxml.com/forum/topic10110.html>

[2019-03-28 22:00] Samantha9899 commented on #30
I have finished the German letter 1 tei header and I believer it's ready for transformation. @RJP43

[2019-03-28 23:00] Samantha9899 commented on #30
I have made corrections to German letter 2 and uploaded it. It may also be ready for transformation. Please let me know if there is something to fix or if it is okay. @RJP43

[2019-03-29 07:10] bcristiana commented on #31
@kklimek1 , hi! Just wanted to let you know that I uploaded the revised version of Mozaiques_bc.xml, this time with new info added to the TEI header, as provided by the TEI header spreadsheet. Please let me know if you find it, because I cannot see it, though the uploading seems to have been successful. It is the file that contains the title page and pages 201-223, as well as the comments about th

[2019-03-29 15:43] Samantha9899 commented on #30
I have made corrections to the Foreword and have filled in the tei header with the information provided. The photography information is still not filled since the document says "don't know" for some parts. I have uploaded the document and it may be ready for transformation. @RJP43

[2019-03-29 16:32] dpedz commented on #33
@RJP43 Will issue 4 be posted soon?

[2019-03-29 19:06] Dadelinee commented on #27
@RJP43 For all the persName elements, are we also putting on the "source" and "synch" attributes as well? I just want to make sure I do that if we're supposed to.
Also, when tagging the `<seg>` elements, I know we're supposed to do it for anything that's translated and that includes the closer right? What about names in the closer (like Lili) because it's the same in both English and Danish and I'

[2019-03-29 19:59] RJP43 commented on #27
👀 @Dadelinee for persName and placeName elements you use the key attribute -- the key attribute should match the xml:id attribute value on the person and place elements in the prosopography file. Check out this section of [the prosopography section of the encoding guidelines](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md#prosopography-markup) for a

[2019-03-29 20:20] RJP43 commented on #33
@dpedz @jsteele1 @bossa12 My apologies! I have just been informed by @ProfPLC and Emily that I had placed three issues into one file. Please adjust according to the following issue divisions and share new Google Doc links with me.

[Vice Versa - Issue 1](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/French_archive/ViceVersa/ViceVersaIssue1)
[Vice Versa

[2019-03-29 20:34] RJP43 commented on #37
:eyes: @bcristiana Thanks for posting this issue. I have just now [added the additional name for Lili to the prosopography](https://github.com/RJP43/LiliElbe_EngagedLearners/commit/3bcddde189e9d24978ac7d260a9314a5d9a252e4) and it will be in our latest schema when I run it later today.

I will attempt to get back to you later today or over the weekend regarding the encoding of the title page.

[2019-03-29 20:59] dpedz commented on #33
New Issue assignments

Issue 1: 10,11 > Ran, Danica
Issue 2: 12,13 >Danica, all
Issue 3: 14, 15 > Jade
Issue 4: 14, 15 > Danica, Jade
Issue 5: "1934" image > Ran

[2019-03-29 21:32] dpedz commented on #33
**Places**
- Passy (Issue 1: 11)
- Allemagne (Germany) (Issue 1:11)
- Berlin (Issues 1,2,4: 11,12, 14)
- Carpi beach (la plage de Carpi) (Issue 3: 12)
- Balgencie (Issue 2: 12)
- municipal theater (Issue 2: 12)
- cinema (Issue 2: 12)
- cafe (Issue 2: 12)
- paris (Issue 2: 12)
- la loire (Issue 2: 12)
- copenhague (Issue 2: 12)
- dresde (Issue 4: 14)
- le jardin (Issue 4: 14)
- paris (Issue 4: 14)

[2019-03-30 04:40] dpedz commented on #33
[Image 13 issue 2.pdf](https://github.com/RJP43/LiliElbe_EngagedLearners/files/3025145/Image.13.issue.2.pdf)

We'll be working on the last image together! I tried my best to equally divide the sections. There are 3 sections, please pick the section you'd like to do.

[2019-03-30 19:17] kejcat opened #38 "Error message concerning phrase "en bog""
When I coded the title of the Sanheden article, I got an error message that said, "Attribute name "bog" associated with an element type "En" must be followed by the '=' character." CODING: `<item rend="primary"><b><En bog om, hvordan <persName key="wegenerE">Hr. Wegener</persName> blev til <persName key="lili">Frøken Wegener.</persName></b></item>`. How can I fix this? @kejcat

[2019-03-30 19:56] RJP43 commented on #38
:eyes: What's the text of the title?

I am not sure why you have a `<b>` element thrown in there? And while that is not causing the specific error you mention it should throw a validation error because it is not in our guidelines or our schema. We should meet so I can verify you have the latest schema associated correctly.

What is causing the error you report above is the erroneous opening angle

[2019-03-30 20:58] kejcat commented on #38
The headline is "En Bog om, hvordan Hr. Wegener blev til Frøken Wegener."
I took out the random bracket and that fixed one error. Now I have one that says: element "b" not allowed anywhere; expected the element end-tag, text or element "add", "choice", "corr", "date", "del", "figure", "foreign", "gap", "hi", "label", "list", "listTranspose", "metamark", "note", "num", "orig", "p", "pb", "persName"

[2019-03-30 21:02] RJP43 commented on #38
:eyes: please see the [mimicking print stylistic renderings section of the guidelines](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md#mimicking-print-stylistic-renderings)

[2019-03-31 00:41] #38 closed, assigned to nobody

[2019-03-31 21:59] kejcat opened #39 "Coding segments"
I am putting in coding for segments the Sanheden article. Should headlines be included as segments? I thought yes but wanted to check. Thanks.

[2019-03-31 22:09] RJP43 commented on #39
:eyes: @kejcat if the text has a translation then it gets segmentation (😆) ... please let me know if the `<seg>` markup causes any schema validation errors. Thanks! 👍

[2019-03-31 22:11] kejcat commented on #39
Thank you. So far, so good. The <seg> codes seem to be working OK.

[2019-03-31 22:55] Dadelinee commented on #27
@RJP43 I looked at the encoding guidelines and for the header of letters I have a question. In the guidelines it says it usually includes the place and date the letter was written, however it also says they should be wrapped in `<placeName>` and `<date>` elements, yet, when I look at example xml, like for German letter 2, I see that the headers for the place don't have a `<placeName>` element and

[2019-03-31 23:07] #39 closed, assigned to nobody

[2019-03-31 23:11] RJP43 commented on #27
:eyes: @Dadelinee, Yes please add both the when attribute and placeName elements to any mentioned places. The German Letters mentioned in my last comment are good examples of the letter and translation structure within the `<text>` elements ... I haven't had the chance to review @Samantha9899's `<teiHeader>` elements yet.

[2019-04-01 00:07] Dadelinee commented on #27
@RJP43 Okay, sorry, hopefully last question for today, do you also want me to add the "when" attribute to the dates in TEI header too or just the dates within the letter itself?

[2019-04-01 13:16] RJP43 commented on #27
:eyes: @Dadelinee just within the letter ... thanks!

[2019-04-01 18:58] RJP43 commented on #36
Huzzah! 🎉 Many thanks, @djbpitt!

[2019-04-01 18:58] #36 closed, assigned to RJP43

[2019-04-01 21:32] kejcat opened #40 "Using persName with translations"
I am about to code the English translation of the Danish letters. Do I encode persName and placeName in translations, too? Thank you! Kristin

[2019-04-01 21:41] RJP43 commented on #40
@kejcat yep!

[2019-04-01 21:53] kejcat commented on #40
Thanks. I'll add the English terms to the prosopography document I made for this article.

[2019-04-02 15:44] kejcat opened #41 "Sanheden article"
Becca,
Do you have any time to meet tomorrow (Wed.)? I’m almost done with my coding, and I have a fair number of questions best handled in person.
Thank you!
Kristin

[2019-04-02 16:45] JackieAlfarah commented on #26
Hey @RJP43 you'll be in class today, right?

[2019-04-02 19:33] kklimek1 commented on #31
Sorry for the late comment, but the combined document has been uploaded (and then reuploaded because I missed a little part of the text) !

[2019-04-02 19:48] JackieAlfarah commented on #26
Re-uploaded letter 4 XML to its folder with errors corrected. Labeled it ReadyForTrans

[2019-04-02 20:17] skarrow commented on #28
In the 19211922 document there is a letter with the name Else in it. Does Else have a persName key?

[2019-04-02 20:18] skarrow commented on #28
In the 19211922 document there is a letter with the name Else in it. Does Else have a persName key?
@RJP43

[2019-04-02 20:24] skarrow commented on #28
UPDATE: We have added the 19211922 translated english diary entries to the combo.xml

[2019-04-02 20:43] Dadelinee commented on #27
@RJP43 "Ullstein" and "Drei Masken" need key IDs in the prosopography! They're publishers mentioned in the letter (letter 19310131)
Also need to add .docx to THoyer letter

[2019-04-02 21:19] bcristiana commented on #37
@RJP43 , thank you.

[2019-04-02 21:26] RJP43 commented on #41
:eyes: @kejcat I am available after 12 (noon). I work in systems 10-11, and I am meeting with an engaged learner in the IC from 11-12. When can you meet?

[2019-04-02 21:30] RJP43 commented on #28
:eyes: @skarrow I will need to get back to you with regard to "Else".

[2019-04-02 22:46] kejcat commented on #41
I'm planning to come to campus late morning to pick up my graduation gown and do some work. Why don't you tell me when you've had a chance to eat lunch after your 11 a.m. meeting, or we could meet somewhere at noon for lunch and consultation? My only conflict is a meeting at 2 at Arriva Dolce.

[2019-04-03 12:13] RJP43 commented on #41
@kejcat I also need to pick up my gown so let's meet in Damen around noon and decide from there if we want cafeteria food or something on Sheridan.

[2019-04-03 13:39] #40 closed, assigned to nobody

[2019-04-03 13:41] RJP43 commented on #31
Hey there @schola0208, @bcristiana, @kklimek1, and @elenipamboukis 👋 I have reserved IC Study Room 217 for our 10 AM meeting on Friday. See you all there!

[2019-04-03 13:42] RJP43 commented on #26
@wravindran and I will meet today at 11 AM in IC Study Room 214

[2019-04-03 14:01] kejcat commented on #41
I’ll meet you outside the MPR where we pick up our gowns.

[2019-04-03 14:17] JackieAlfarah commented on #26
I’m not on campus today, so I will most likely come tomorrow around 11:30

[2019-04-03 16:01] RJP43 commented on #26
@JackieAlfarah okay -- see you at the IC reference desk on the 2nd floor tomorrow.

[2019-04-03 18:49] kejcat commented on #41
@RJP43 the encoding guidelines are missing the image/figure markup. Here is an example from my file:
[code]

[2019-04-03 21:39] skarrow commented on #28
@RJP43 We were wondering for the TEI header do we put the entire file numerical value as the date or just the last 6 letters?

[2019-04-03 21:50] skarrow commented on #28
@RJP43 do we place the whole <person> attribute for the TEI header? Or is the xml id: the same as the `key=` in the encoding?

Ex. do we place this for Sigurd Thomsen in the TEI header

`person xml:id="wegenerS" source="historical" synch="#nephew">
               <persName>Sigurd Wegener Thomsen</persName>
               <note><persName key="wegenerE">Einar Wegener</persName>'s nephew; son of

[2019-04-03 22:03] skarrow commented on #28
@RJP43 we couldn't find a ref id for Maiken Boysen

[2019-04-04 02:58] JackieAlfarah commented on #26
Hey Rebecca, I don’t think I will be able to make it tomorrow. My grandma needs me to take her to her doctors appointment. I won’t be on Campus until 12:45 and my class starts at 1.

[2019-04-04 09:44] RJP43 commented on #26
:eyes: okay @JackieAlfarah thanks for letting me know. Best wishes to you and your grandma ❤. I have some availability tomorrow and Monday if you want to reschedule :calendar: - simply check my office hours calendar and let me know. Otherwise, I will touch base with your team on Tuesday in class.

[2019-04-04 12:03] JackieAlfarah commented on #26
Sounds good. Thanks!

[2019-04-04 15:46] RJP43 commented on #30
:eyes: @BMiller10 and @katebarrettmurphy the two of you are being reassigned to new tasks since @Samantha9899 has a handle on these files. Please be in contact with @ProfPLC and me about your new assignment.  Additionally, the two of you should be in contact with @ProfPLC via email to discuss your progress in the course. 📑

@Samantha9899 I will be transforming your letter later today (if not, tomo

[2019-04-04 15:55] RJP43 commented on #32
@amandallopez Please alert me with the "transformation ready" label once you have completed updating the chapter's TEI header. Feel free to reach out via this issue and using the "help wanted" label if you run into any snags. Many thanks! 👍

In response to our meeting in class (this past Tuesday), I have removed @ElleBromer and @joaquindavalosponce from this issue. I will be reassigning the two of

[2019-04-04 16:38] RJP43 opened #42 "Second Set of German Letters : Bennet, Joaquin, Samantha"
Hey there @BMiller10, @joaquindavalosponce, @Samantha9899 👋

Please reference the [Facsimile Images](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/German_archive/Spring2019_SecondBatchGermanLetters/FacsimileImages) and the [Transcription-Translation Word documents](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMateri

[2019-04-04 17:53] RJP43 commented on #41
@kejcat I am trying to revise the encoding guidelines to reflect the correct coding for articles. Could you upload your most recent version from our meeting yesterday so I can reference it? Many thanks in advance! 💟

[2019-04-04 19:17] kejcat commented on #41
I just uploaded SanhededArticle.xml, prosopography for Sanhede article.docx, and Sanheden article Post Review (4.2.19). I uploaded the last file because I made some copy editing changes. Kristin

[2019-04-05 11:06] RJP43 commented on #41
Thanks, @kejcat 💟. After working with @zothman, yesterday, and revising the [Politken articles](https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/archivalMaterials/Danish_archive/Politiken) structures these are the changes I am making in the encoding guidelines regarding the `<div rend="head">` for all articles:
[code]
The `<seg>` markup would go within each of the title an

[2019-04-05 11:42] RJP43 commented on #41
I have added a section to the encoding guidelines detailing how to correctly encode ["Figures, Photos, Illustrations, Images](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/encodingGuidelines.md#figures-photos-illustrations-images). Thanks for the reminder! 🎉

[2019-04-05 12:19] #37 closed, assigned to RJP43, bcristiana

[2019-04-05 12:20] RJP43 commented on #41
I have just now updated the prosopography to include all of your additions. Thanks for those! They will be live in the schema later today. 🎉

[2019-04-05 12:39] RJP43 commented on #28
:eyes: Hi,@skarrow! 👋 I have added the key `boysenM` for Maiken Boysen and the key "else" for Else in the prosopography. They will be in the next schema update later today. So just add those keys to your persName elements and they will no longer be read with the new schema.

As for Sigurd Thomsen in the TEI header, anywhere a person from the prosopography is mentioned you need to wrap their name i

[2019-04-05 12:51] RJP43 commented on #27
:eyes: @Dadelinee when those publishers are mentioned are they referred to more like a publishing house or as individuals? We have entries for both of these names in the place section of the prosopography because elsewehre they have been referred to as the publishing houses. If it seems these are individuals then we will need to adjust the keys elsewhere. I will bring this issue up to @ProfPLC. If

[2019-04-05 13:08] Dadelinee commented on #27
![66B5DA63-B22B-4096-83B9-0D2888B96647](https://user-images.githubusercontent.com/47280713/55629818-c3413280-5779-11e9-9dc4-9c6f8fc3867b.jpeg)
@RJP43 This is the portion of the file they’re mentioned in. It looks like she’s mentioning them as specific people but it’s possible I’m reading it wrong. She could be referring to them as the whole entire publishing company and my original thought may hav

[2019-04-05 13:19] RJP43 commented on #27
👀 @Dadelinee thanks for giving me the snippet. I will check with @ProfPLC today and get back to you. 👍

[2019-04-05 13:24] Dadelinee commented on #27
@RJP43 awesome thanks! I think the thing that was making me think they were people were Kristin’s notes since they said “name of a publisher” and I’m not sure if she meant a person or a whole publishing house, if that helps

[2019-04-05 14:07] kejcat commented on #27
What I remember from doing the translation is that Drei Maiken and Ullstein are publishing companies.

[2019-04-05 14:10] Dadelinee commented on #27
@kejcat Oh okay that makes sense I’ll be sure to switch them, thank you!!

[2019-04-05 15:54] elenipamboukis commented on #31
Schola will update the complete translation file and Cristiana will update the TEI header

[2019-04-05 16:20] elenipamboukis commented on #31
After meeting with Rebecca at 10:00 in a study room, @kklimek1 will be uploading the new combination file onto the Allatini Chapter file, and @bcristiana will update the new TEI header.

[2019-04-05 16:28] elenipamboukis commented on #31
@kklimek1 will be doing place name attributes and I will be doing person name attributes both of us making sure the French matches the English attributes.
@bcristiana and @schola0208 will be doing the segments in the paragraphs.

[2019-04-05 16:35] kklimek1 commented on #31
@RJP43 Should we be putting persName elements around pronouns and nouns that indirectly refer to the person? So if Einar is referred to as "my fiance"?

[2019-04-05 18:59] RJP43 commented on #27
:eyes: Thanks @kejcat. And sounds good @Dadelinee -- thanks!

[2019-04-05 20:08] ProfPLC commented on #31
:eyes: @kklimek1 and @elenipamboukis -- Pronouns do not get persName elements. If you can identify the reference, such as "my fiance," from context, then put the persName element in with the appropriate key ID. But if you're not sure of the reference, run these by me via email (pcaughi@luc.edu). For example, a reference to my fiance by Gerda could be Einar but also Fernando Porta. I could help ide

[2019-04-05 21:01] ProfPLC commented on #34
A shout out to @anais-turiello  and @Tatjanawj: do you need help from @tinatiehen and @ekupchella  when they finish collating D1/TR?  They have about four more chapters to collate, you have about fifteen. Please pick up the pace a bit and reach out for help, from Anna, Tina, and/or Elizabeth.

[2019-04-06 23:18] RJP43 commented on #33
:eyes: @dpedz Please go back and edit your comment above holding this list of people and places to indicate which Issue these names are linked with. You can edit a comment by clicking on the three dots to the right of the reaction smiley face (both sit in the top right corner of your comment). Thanks 👍

[2019-04-07 01:46] dpedz commented on #33
@RJP43 I have already finished image 12 in issue 2 before @ElleBromer  was added onto our project.

[2019-04-08 01:44] RJP43 commented on #33
:eyes: @dpedz You never shared your document with me via Google or uploaded a copy of your work to GitHub. You also did not communicate here on your team's issue that you made progress with issue 2. If you do not stay in communication with me I cannot help you or confirm with @ProfPLC the work being completed. @ElleBromer @jsteele1 @dpedz @bossa12 I have once again revised this issue and adjusted

[2019-04-08 02:15] dpedz commented on #33
@RJP43 I thought I shared the document with the group, my bad! The document is now shared.

[2019-04-08 02:56] RJP43 commented on #33
@dpedz okay thanks for sharing. :+1: I went ahead and added @ProfPLC and Emily to the file (as I have for all of the other Google Docs). ✅ I backed up a copy of your issue to your file folder here on GitHub as well. ✅ Be sure to read thru my first comment and adjust your document accordingly. Thanks for your hard work! :tada: :heart_decoration:

[2019-04-08 14:42] kejcat commented on #41
I just realized I never responded to your question about another meeting. Do you have any time Tuesday after noon, Wednesday after 2, or Thursday noon-3? Kristin

[2019-04-08 15:16] RJP43 commented on #41
📆 :eyes: @kejcat I am available noon until the EL class time at 2:30 on Tuesday. I have availability for either of the other days later in the evening like closer to 6 PM or I could get together before noon on Wednesday _(tho that is a less-preferred option for me personally)_. As for Thursday I am at the IC reference desk from 9 AM to 1 PM if you want to come during the last hour of my shift _(wh

[2019-04-08 15:48] bcristiana commented on #31
@RJP43 , hi, this is a message from both me and @schola0208 . This is the problem we ran into: the french text has paragraph 4 and 5 separate, while the translation has them combined into one. We thought to use different segment numbers to mark the differences btw paragraphs, but that would mean we have two segments in one paragraph in the english transaltion. @schola0208 is pasting what it looks

[2019-04-08 15:48] schola0208 commented on #31
`<p><seg corresp="#fo4">We left that same evening for our honeymoon in <placeName key="rome"

                    friendly relations that became more and more cordial and affectionate. I had
                    just lost <persName>my mother</persName> and was
                    expecting <persName key="allatiniJ">my first child</persName>. My Scandinavian
                    friends embraced me a

[2019-04-08 16:52] alicapati commented on #28
@RJP43 Hey, Rebecca! Sophie and I are finishing adding the Danish letters into our combined file, but cannot find a persName tag in the prosopography for "Moder".

Also, we associated the new schema with our document and it still is not accepting the persName attribute, "else," for Else 🙁

[2019-04-08 18:52] skarrow commented on #28
@RJP43 We have finished uploading all the Danish and English entries and we are ready to meet with you to make sure we did it right and to learn to encode the notes. Yay!

[2019-04-08 18:55] RJP43 commented on #31
:eyes: @schola0208 @bcristiana I think this is an instance where you need to instead divided the translation and original paragraphing so they match the original print rendition. If there are two paragraphs in the facsimile images then both the translation and the original French need to be divided according to the print. I believe that will also solve the `<seg>` issue but please comment back and

[2019-04-08 19:14] Dadelinee commented on #27
Hey @RJP43 ! Just wanted to check if you had time to add the word document for the THoyer letter yet? Thanks! Other than that, pretty sure every other letter is ready

[2019-04-08 19:25] amandallopez commented on #32
I went through and assured that the TEI formatting and the person/place encoding was squared away and I believe the document is now transformation ready. However, if something is missing/done incorrectly, let me know and I will fix it. Thank you 👍

[2019-04-08 20:09] RJP43 commented on #28
@skarrow @alicapati Great work! 🎉 Seriously! Getting that multi-file encoding wrangled was a complicated task, and I am grateful for your time spent on it! Are you still working through the rest of the XML proofing workflow detailed on issue #35 - like getting the teiHeader completely updated, checking every person/place encoded in the original are also encoded in translation and vice versa, etc.

[2019-04-08 20:13] RJP43 commented on #32
:eyes: @amandallopez HUZZAH! 🎉  I will take a look and try running the transformation. I will get back to you, hopefully before class tomorrow, with an HTML proofing link. We'll touch base in class and thanks for add the "transformation ready" label. 👌 Be sure you document all your hard work on the [`Engaged Learning Tracking Hours Spreadsheet`](https://docs.google.com/spreadsheets/d/1VMo0yAKX0qB8

[2019-04-08 20:28] RJP43 commented on #27
Wow 😮 great job getting through all three of those other letters! 🎉 You are certainly an XML proofing power house. ✊ 🏠 I am so sorry I kept forgetting to add the word document for the ThomsenTHoyer letter. 😟 I have just now added it [here](https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/Danish_archive/00000000/00000000ThomsenTHoyer%20Revised%20(11.20.18)

[2019-04-08 20:44] Dadelinee commented on #27
@RJP43 Ah, no worries, thank you! And I actually just realized in the Hoyer letter, he mentions this place called "Havnegade" which is like some waterfront promenade in Denmark (when I searched it) but I don't see it in the prosopography and I wasn't sure if that was intentional or not

[2019-04-08 21:06] joaquindavalosponce commented on #42
Hey Rebecca,

I hope you had a great weekend. I am a little confused. The document I am getting from Github is a word document, doesn't it have to be a raw file so I can take the document to Oxygen?

Joaquin
________________________________
From: Rebecca Parker <notifications@github.com>
Sent: Thursday, April 4, 2019 12:38 PM
To: RJP43/LiliElbe_EngagedLearners
Cc: Subscribed
Subject: [RJP43/LiliEl

[2019-04-08 21:35] RJP43 commented on #27
:eyes: @Dadelinee I did a [quick search of "Havnegade" on the repo](https://github.com/RJP43/LiliElbe_EngagedLearners/search?q=Havnegade&unscoped_q=Havnegade) and it looks like that in the other instances where this place is mentioned it has not been marked. If you could please put it in a placeName element, but leave off the key attribute that would be fine. Thanks 👍

[2019-04-08 21:38] RJP43 commented on #42
:eyes: @joaquindavalosponce as described in my first comment above you are to create a new XML file then copy and paste the various parts of the letter (original and translation) into the appropriate encoding from the teiHeader and encoding guidelines. I tried to give a [step-by-step instructions](https://github.com/RJP43/LiliElbe_EngagedLearners/issues/42#issue-429377406) above so please try bein

[2019-04-08 21:50] kejcat commented on #41
How about Tuesday at 1? If that works, where would you like to meet? Thank you! Kristin

[2019-04-08 23:11] bcristiana commented on #31
@RJP43 , thank you for the explanation. Now we know that the french text is the one to which we compare the translation. When--not if--we meet other obstacles, we'll ask for your guidance..

[2019-04-08 23:29] RJP43 commented on #41
Let's meet in Crown on the 4th floor in the lobby once you get out of the elevators. That way I can go right to class from there. Thanks!

[2019-04-09 01:25] kejcat commented on #41
Sounds good. Kristin

[2019-04-09 18:12] kejcat commented on #41
[code]
KEY FOR STEINCKE: steinckeK

[2019-04-09 18:30] kejcat commented on #41
[code]

[2019-04-09 18:36] kejcat commented on #41
``
We decided column numbering is based on the article as a whole rather than individual pages.

[2019-04-09 18:44] kejcat commented on #41
Interesting gender assignment issue:

DANISH: Der viste sig ikke store Vanskeligheder ved Adoptionen. Ministeriet bevilgede gerne, at Fru Wegener adopterede Frk. Lily Wegener, og paa denne Maade blev den tidligere Ægtemand nu Datter i Huset hos sin forhenværende Hustru.

ENGLISH: No great difficulties appeared in connection with the adoption. The ministry willingly granted that Mrs. Wegener adopte

[2019-04-09 18:57] kejcat commented on #41
We need to revise translator/editor comments due to double XML id's.

[code]

[2019-04-09 19:00] kejcat commented on #41
Ask those who have worked on the German text how they translated nouns that had been capitalized in German. Do we retain capitalization in English?

[2019-04-09 19:30] RJP43 commented on #41
@kejcat I spoke to @ProfPLC and she said you should absolutely correct those minor mistakes on Marianne's part in the translation like excluding an apostrophe, comma, etc. Thanks 👍

[2019-04-09 19:34] RJP43 commented on #41
:eyes: @kejcat I also spoke to @ProfPLC about whether or not we are retaining German/Danish noun capitalization in translation and she said no we regularize the capitalization in the English translation as one would expect it to be in modern English. Thanks 👍

[2019-04-09 20:33] alicapati commented on #28
@RJP43 Hi, Rebecca! There are only a couple things left in our file that are firing as errors, which are: `<persName key="">Else</persName>` and `persName ref=""</persName>`. I just assume that Else has yet to be added to the prosoprography, which is fine! ☺️ Since our document has also not been transformed or proofed yet, should @skarrow and I just leave them blank, which will continue firing as

[2019-04-09 20:34] JackieAlfarah commented on #26
just uploaded letter 1. Ready to transform

[2019-04-09 20:35] Katiegriggs24 commented on #26
I uploaded the letter three with corrected errors.

[2019-04-10 14:43] RJP43 commented on #26
@wravindran My apologies I have to cancel our meeting today. I am just in too much pain. Remind me of which letter you are working on and upload your latest version here on GitHub. I will take a look at your progress and report back on this issue with any questions/concerns or to let you know it all looks good. Thanks for hopefully understanding.

[2019-04-10 14:53] wravindran commented on #26
Alright thanks rebecca. Hope you feel better.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rebecca Parker <notifications@github.com>
Sent: Wednesday, April 10, 2019 9:43:20 AM
To: RJP43/LiliElbe_EngagedLearners
Cc: Ravindran, Wagme; Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] Lili Elbe to Maria Garland : Jackie, Katie, Wagme (#26)

@wravindran<h

[2019-04-10 18:12] Dadelinee commented on #26
Hey @JackieAlfarah @wravindran and @Katiegriggs24 ! Sorry to barge in on y'alls issue haha but I figured since we're on the symposium team together I could help you with any encoding stuff if you need while I wait for my documents to get transformed (unless I get put on something else but honestly I can try to balance out helping on the side too lol) Let me know if that's okay! Totally cool if you

[2019-04-10 18:46] JackieAlfarah commented on #26
Hey. Sorry I’ll resend the text now. My number is (708) 890-1181.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Adeline <notifications@github.com>
Sent: Wednesday, April 10, 2019 1:12 PM
To: RJP43/LiliElbe_EngagedLearners
Cc: Alfarah, Jackie; Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] Lili Elbe to Maria Garland : Jackie, Katie, Wagme (#26)

Hey @Jac

[2019-04-10 18:47] JackieAlfarah commented on #26
I totally could have taken your number down wrong so that could be it lol

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Alfarah, Jackie <jalfarah@luc.edu>
Sent: Wednesday, April 10, 2019 1:46 PM
To: RJP43/LiliElbe_EngagedLearners; RJP43/LiliElbe_EngagedLearners
Cc: Mention
Subject: Re: [RJP43/LiliElbe_EngagedLearners] Lili Elbe to Maria Garland : Jackie, Katie

[2019-04-10 19:19] Samantha9899 commented on #42
@RJP43 The letter I am working on is written by "H. Schumann" and I don't see that name in the prosopography, what am I supposed to use as the key id?

[2019-04-10 19:41] bcristiana commented on #31
@kklimek1 , @elenipamboukis , @schola0208 , I have uploaded on GitHub the HAllatiniChapter_combo.xml. It contains the french text completely segmented. @schola0208 will add soon, in a couple of hours, the segmented translation, so maybe you should wait for both texts. I also have to rework the TEI header, but I hope I can do it from the html version.

[2019-04-10 20:01] bcristiana commented on #31
@kklimek1 , @elenipamboukis , @schola0208 , hi again! I have uploaded on GitHub a second file, 1HAllatiniChapter_combo.xml, with the newly edited TEI header, so please work on/with this version.

[2019-04-10 21:11] RJP43 commented on #42
:eyes: @Samantha9899 Let's make the key schumannH and I will add him. Please let me know if you get any info. from the letter regarding his identity. Thanks :+1:

[2019-04-10 21:14] schola0208 commented on #31
@kklimek1 @elenipamboukis @bcristiana I have uplaoded the file with what me and @bcristiana were able  to do. here is the link https://github.com/RJP43/LiliElbe_EngagedLearners/blob/master/ProjectDocs/archivalMaterials/French_archive/HAllatiniChapter/HAllatiniChapter_combo.xml. Pay attention because there is another file by the same name but that starts with a 1; that file is not valid but I could

[2019-04-11 01:50] elenipamboukis commented on #31
@RJP43 Hello Rebecca! Can you let me know how to search up person names again for the whole XML? Thank you!

[2019-04-11 17:22] RJP43 commented on #31
:eyes: My apologies @elenipamboukis! If you go to the far right corner you will see the XPath window.

![screenshot with red square highlighting the XPath Window in oXygen](https://user-images.githubusercontent.com/8645521/55976242-52a28600-5c51-11e9-991b-7be2dae4d3fe.png)

This window is kind of like the find feature (Ctrl/Command F) except it searches on the XML's hierarchy. So for example to ge

[2019-04-11 19:09] RJP43 commented on #34
Hi team 👋 @ekupchella @tinatiehen @anais-turiello @Tatjanawj @ProfPLC ,

In preparation for the Weekend of Excellence Symposium this weekend @cmccraw and I have worked together with @gloriousgeneralist (LUC's digital services librarian who is helping develop the LEDA website) and  Nick Wasmoen (LEDA digital editor) to bring you this live demo of the editions' **chapter one collation** -- http://bi

[2019-04-11 19:32] RJP43 commented on #34
@cmccraw is backing up the XML behind the VM Collation here - https://github.com/RJP43/LiliElbe_EngagedLearners/tree/master/ProjectDocs/collationMaterials

[2019-04-16 16:08] schola0208 commented on #31
@bcristiana @kklimek1 @elenipamboukis I am going to be working on the file till 1pm,  I will re-upload it then.

[2019-04-16 16:49] RJP43 commented on #32
❗️ 👀 ❗️ @amandallopez I am working on code that will transform the XML for chapters and book sections into our proofing HTML and was relying on your file as well as @Samantha9899's German Foreword to test the transformation. You'll notice I removed the transformation ready label from your issue. This is because there are aspects of your teiHeader element that just will not let it transform. This i

[2019-04-16 17:20] schola0208 commented on #31
I am done with my session, I have re-uplaoded it under the original name

[2019-04-17 15:46] Samantha9899 commented on #42
@RJP43 I have finished with the steps given and uploaded the 1932-06-30SchumannHoyer

[2019-04-17 19:22] elenipamboukis commented on #31
@RJP43 Hello! I am having GREAT trouble with persName. I feel like I have been working on trying to add more names within the translation for ages and I am not really seeing any progress as the number of persName attributes goes up so slowly. I do not want it to seem as though I am cheating my hours for how long I am working on it, but I can't seem to wrap my brain around what I am doing effective

[2019-04-17 19:39] elenipamboukis commented on #31
@RJP43 In following up with my recent comment `//div[@type="original"]//persName[not(@key)]` helps, but most of the missing 'key types' Christiana has noted, but those names are not in the posopography

[2019-04-17 20:01] elenipamboukis commented on #31
@RJP43 in working on the persName attributes, I am trying my best to look at the prosopography and add key ID's; however some key ID's are missing and they are noted in comments within the XML. The original has 52 total issues regarding missing key ID's to persNames, and the translation has 10 total issues regarding missing key ID's to persName. In total after trying to help even the number differ